Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*

feat(rawkode.studio): allow directors to lower participants' raised hands
  projects/rawkode.studio/src/actions/index.ts
  projects/rawkode.studio/src/components/livestreams/room/RaiseHandButton.tsx
  projects/rawkode.studio/src/components/livestreams/room/RaisedHandsList.tsx
  projects/rawkode.studio/src/pages/api/livestream/participant.ts
  projects/rawkode.studio/src/pages/api/livestream/token.ts
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): handle race condition in livekit webhook room_started event
  projects/rawkode.studio/src/pages/api/webhooks/livekit.ts
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): handle insert conflicts when creating rooms
  projects/rawkode.studio/src/actions/index.ts
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): handle database conflicts in room creation and webhooks
  projects/rawkode.studio/src/pages/api/webhooks/livekit.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.academy/website): allow updates to articles with a reason
  projects/rawkode.academy/website/content/articles/kyverno-cel-validating-policy/index.mdx
  projects/rawkode.academy/website/src/components/articles/Updates.astro
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/pages/read/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): allow updates to articles with a reason (#576)
  projects/rawkode.academy/website/content/articles/kyverno-cel-validating-policy/index.mdx
  projects/rawkode.academy/website/src/components/articles/Updates.astro
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/pages/read/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add rss feeds (#570)
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/content/changelog/2025-06-04-rss-feeds.md
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/pages/api/feeds/all.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/all.xml.ts
  projects/rawkode.academy/website/src/pages/api/feeds/articles.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/articles.xml.ts
  projects/rawkode.academy/website/src/pages/api/feeds/videos.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/videos.xml.ts
  projects/rawkode.academy/website/src/pages/feeds.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): include full article content in RSS/Atom feeds
  CLAUDE.md
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/pages/api/feeds/all.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/all.xml.ts
  projects/rawkode.academy/website/src/pages/api/feeds/articles.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/articles.xml.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.studio): fix redirect loop and add debugging for tokens
  projects/rawkode.studio/src/middleware/index.ts
  projects/rawkode.studio/src/pages/api/livestream/token.ts
Due: studio-deploy-production, studio-deploy-merge-request

refactor(rawkode.academy/website): update dependencies
  projects/rawkode.academy/website/bun.lock
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): redesign video page with modern UI
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): improve sidebar navigation and add footer
  projects/rawkode.academy/website/src/components/footer/Footer.astro
  projects/rawkode.academy/website/src/components/sidebar/index.vue
  projects/rawkode.academy/website/src/layouts/app.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): redesign video page with modern UI (#579)
  projects/rawkode.academy/website/content/changelog/2025-06-04-video-page-redesign.md
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): improve sidebar navigation and add footer (#580)
  projects/rawkode.academy/website/src/components/footer/Footer.astro
  projects/rawkode.academy/website/src/components/sidebar/index.vue
  projects/rawkode.academy/website/src/layouts/app.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add better error handling for technology GraphQL queries
  projects/rawkode.academy/website/src/pages/technology/[id].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add better error handling for technology GraphQL queries (#582)
  projects/rawkode.academy/website/src/pages/technology/[id].astro
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): fix URL validation vulnerability in command palette
  projects/rawkode.academy/website/src/components/command-palette/index.tsx
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/platform/transcoding-job): update video URL and fix file path handling
  projects/rawkode.academy/platform/transcoding-job/main.ts
Due: none

fix(rawkode.academy/website): correct new issue link URL (#585)
  projects/rawkode.academy/website/src/layouts/app.astro
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): resolve atom feed MDX module import error
  projects/rawkode.academy/website/src/lib/feed-utils.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): resolve atom feed MDX module import error (#584)
  projects/rawkode.academy/website/src/lib/feed-utils.ts
Due: website-deploy-production, website-deploy-merge-request

feat(transcoding): add audio extraction from original video
  projects/rawkode.academy/platform/transcoding-job/main.ts
  projects/rawkode.academy/platform/transcoding-job/utilities/ffmpeg.ts
Due: none

feat(rawkode.academy/website): add Storybook with multi-framework support
  projects/rawkode.academy/website/.gitignore
  projects/rawkode.academy/website/.storybook/README.md
  projects/rawkode.academy/website/.storybook/main.ts
  projects/rawkode.academy/website/.storybook/manager.ts
  projects/rawkode.academy/website/.storybook/preview.ts
  projects/rawkode.academy/website/.storybook/vue-preset.ts
  projects/rawkode.academy/website/.storybook/vue-wrapper.tsx
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/components/AsideWrapper.stories.tsx
  projects/rawkode.academy/website/src/components/AsideWrapper.tsx
  projects/rawkode.academy/website/src/components/hero/typewriter.stories.tsx
  projects/rawkode.academy/website/src/components/stats/SimpleStatsWrapper.tsx
  projects/rawkode.academy/website/src/components/stats/simple.stories.ts
Due: website-deploy-production, website-deploy-merge-request

fix(dagger/cloudflare): use versions upload for Storybook preview
  dagger/cloudflare/src/index.ts
Due: none

fix(rawkode.academy/website): remove main entrypoint for assets-only deployment
  projects/rawkode.academy/website/wrangler.design.jsonc
Due: website-deploy-production, website-deploy-merge-request

fix(dagger/cloudflare): specify config file for wrangler versions upload
  dagger/cloudflare/src/index.ts
Due: none

fix(dagger/cloudflare): add --assets flag to wrangler versions upload
  dagger/cloudflare/src/index.ts
Due: none

fix(rawkode.academy): use correct dagger function for Storybook build
  .github/workflows/rawkode-academy.yml
Due: none

fix(dagger/cloudflare): add --assets flag to versions upload
  dagger/cloudflare/src/index.ts
Due: none

feat(rawkode.academy): add Storybook deployment to GitHub workflow
  .github/workflows/rawkode-academy.yml
Due: none

fix(dagger/cloudflare): use regular deploy for preview with pr- prefix
  dagger/cloudflare/src/index.ts
Due: none

chore(dagger/cloudflare): tweak preview message
  dagger/cloudflare/src/index.ts
  projects/rawkode.academy/website/wrangler.design.jsonc
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add Storybook with multi-framework support (#581)
  .github/workflows/rawkode-academy.yml
  dagger/cloudflare/src/index.ts
  projects/rawkode.academy/website/.dagger/src/index.ts
  projects/rawkode.academy/website/.gitignore
  projects/rawkode.academy/website/.storybook/README.md
  projects/rawkode.academy/website/.storybook/main.ts
  projects/rawkode.academy/website/.storybook/manager.ts
  projects/rawkode.academy/website/.storybook/preview.ts
  projects/rawkode.academy/website/.storybook/vue-preset.ts
  projects/rawkode.academy/website/.storybook/vue-wrapper.tsx
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/components/AsideWrapper.stories.tsx
  projects/rawkode.academy/website/src/components/AsideWrapper.tsx
  projects/rawkode.academy/website/src/components/hero/typewriter.stories.tsx
  projects/rawkode.academy/website/src/components/stats/SimpleStatsWrapper.tsx
  projects/rawkode.academy/website/src/components/stats/simple.stories.ts
  projects/rawkode.academy/website/wrangler.design.jsonc
Due: website-deploy-production, website-deploy-merge-request

fix(cicd): isolate asset only deployments
  .github/workflows/rawkode-academy.yml
  dagger/cloudflare/src/index.ts
Due: none
