Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

website-deploy-production:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

website-deploy-merge-request:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

studio-deploy-production:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

studio-deploy-merge-request:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

infrastructure-dns-merge-request:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

chore(rawkode.studio): remove RECORDING_TEMPLATES.md documentation
  projects/rawkode.studio/RECORDING_TEMPLATES.md
Due: studio-deploy-production, studio-deploy-merge-request

perf(rawkode.studio): optimize build chunking for better performance
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/biome.json
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): remove empty datetime chunk warning
  projects/rawkode.studio/astro.config.ts
Due: studio-deploy-production, studio-deploy-merge-request

refactor(rawkode.studio): migrate participant role from attributes to metadata
  projects/rawkode.studio/src/actions/rooms.ts
  projects/rawkode.studio/src/components/livestreams/room/controls/LayoutSelector.tsx
  projects/rawkode.studio/src/components/livestreams/room/controls/PresenterSelector.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/PermissionHandler.tsx
  projects/rawkode.studio/src/components/livestreams/room/hooks/useMediaPermissions.ts
  projects/rawkode.studio/src/components/livestreams/room/hooks/useRoomPermissions.ts
  projects/rawkode.studio/src/components/livestreams/room/layouts/index.ts
  projects/rawkode.studio/src/components/livestreams/room/participants/ParticipantsList.tsx
  projects/rawkode.studio/src/lib/auth.ts
  projects/rawkode.studio/src/lib/layout.ts
  projects/rawkode.studio/src/lib/participant.ts
  projects/rawkode.studio/src/pages/api/livestream/layout.ts
  projects/rawkode.studio/src/pages/api/livestream/participant.ts
  projects/rawkode.studio/src/pages/api/livestream/token.ts
Due: studio-deploy-production, studio-deploy-merge-request

refactor(rawkode.studio): remove backwards compatibility for role attribute
  projects/rawkode.studio/src/lib/participant.ts
  projects/rawkode.studio/src/pages/api/livestream/participant.ts
Due: studio-deploy-production, studio-deploy-merge-request

refactor(cloudflare): improve immutability in wrangler execution pipeline
  dagger/cloudflare/src/index.ts
Due: none

fix: resolve merge conflicts
  projects/rawkode.academy/website/src/pages/about/index.astro
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.academy/website): delete package-lock.json
  projects/rawkode.academy/website/package-lock.json
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): improve SEO with better internal linking
  projects/rawkode.academy/website/src/actions/reaction.ts
  projects/rawkode.academy/website/src/actions/share.ts
  projects/rawkode.academy/website/src/actions/video.ts
  projects/rawkode.academy/website/src/lib/analytics.ts
  projects/rawkode.academy/website/src/pages/about/index.astro
  projects/rawkode.academy/website/src/pages/courses/index.astro
  projects/rawkode.academy/website/src/pages/index.astro
  projects/rawkode.academy/website/src/pages/read/index.astro
Due: website-deploy-production, website-deploy-merge-request

refactor(rawkode.studio): extract layout string generation to constants and add logging
  projects/rawkode.studio/biome.json
  projects/rawkode.studio/src/actions/rooms.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.academy/casting-credits): add write-model service with CQRS pattern
  .github/workflows/casting-credits.yaml
  projects/rawkode.academy/platform/casting-credits/.gitignore
  projects/rawkode.academy/platform/casting-credits/.vscode/extensions.json
  projects/rawkode.academy/platform/casting-credits/.vscode/settings.json
  projects/rawkode.academy/platform/casting-credits/Justfile
  projects/rawkode.academy/platform/casting-credits/bun.lock
  projects/rawkode.academy/platform/casting-credits/data-model/integrations/zod.ts
  projects/rawkode.academy/platform/casting-credits/data-model/schema.ts
  projects/rawkode.academy/platform/casting-credits/package.json
  projects/rawkode.academy/platform/casting-credits/read-model/worker-configuration.d.ts
  projects/rawkode.academy/platform/casting-credits/write-model/main.ts
  projects/rawkode.academy/platform/casting-credits/write-model/wrangler.jsonc
Due: none

fix(rawkode.academy/casting-credits): remove stray s
  .github/workflows/casting-credits.yaml
Due: none

fix(rawkode.studio): correctly separate layout identifier from customBaseUrl in LiveKit egress
  projects/rawkode.studio/src/actions/rooms.ts
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): remove room metadata update from egress layout action
  projects/rawkode.studio/src/actions/rooms.ts
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): preserve displayName in room metadata updates
  projects/rawkode.studio/src/components/livestreams/room/controls/LayoutSelector.tsx
  projects/rawkode.studio/src/components/livestreams/room/controls/PresenterSelector.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/permissions.ts
  projects/rawkode.studio/src/components/livestreams/room/media/VideoGrid.tsx
  projects/rawkode.studio/src/pages/api/livestream/token.ts
Due: studio-deploy-production, studio-deploy-merge-request

refactor(rawkode.academy/platform/rpc-gateway): replace rpc service with new rpc-gateway
  projects/rawkode.academy/platform/rpc-gateway/README.md
  projects/rawkode.academy/platform/rpc-gateway/bindings.ts
  projects/rawkode.academy/platform/rpc-gateway/biome.json
  projects/rawkode.academy/platform/rpc-gateway/bun.lock
  projects/rawkode.academy/platform/rpc-gateway/examples/usage.md
  projects/rawkode.academy/platform/rpc-gateway/main.ts
  projects/rawkode.academy/platform/rpc-gateway/middleware/auth.ts
  projects/rawkode.academy/platform/rpc-gateway/middleware/logging.ts
  projects/rawkode.academy/platform/rpc-gateway/middleware/token-context.ts
  projects/rawkode.academy/platform/rpc-gateway/middleware/validation.ts
  projects/rawkode.academy/platform/rpc-gateway/package.json
  projects/rawkode.academy/platform/rpc-gateway/router.ts
  projects/rawkode.academy/platform/rpc-gateway/test.spec.ts
  projects/rawkode.academy/platform/rpc-gateway/tsconfig.json
  projects/rawkode.academy/platform/rpc-gateway/vitest.config.ts
  projects/rawkode.academy/platform/rpc-gateway/worker-configuration.d.ts
  projects/rawkode.academy/platform/rpc-gateway/wrangler.jsonc
  projects/rawkode.academy/platform/rpc/.envrc
  projects/rawkode.academy/platform/rpc/.gitignore
  projects/rawkode.academy/platform/rpc/Justfile
  projects/rawkode.academy/platform/rpc/astro.config.mjs
  projects/rawkode.academy/platform/rpc/bun.lockb
  projects/rawkode.academy/platform/rpc/devenv.lock
  projects/rawkode.academy/platform/rpc/devenv.nix
  projects/rawkode.academy/platform/rpc/devenv.yaml
  projects/rawkode.academy/platform/rpc/package.json
  projects/rawkode.academy/platform/rpc/public/favicon.svg
  projects/rawkode.academy/platform/rpc/src/env.d.ts
  projects/rawkode.academy/platform/rpc/src/pages/index.astro
  projects/rawkode.academy/platform/rpc/src/pages/restate/[...command].ts
  projects/rawkode.academy/platform/rpc/src/pages/user/registered.ts
  projects/rawkode.academy/platform/rpc/src/restate/user/registered.ts
  projects/rawkode.academy/platform/rpc/src/restateEnv.ts
  projects/rawkode.academy/platform/rpc/src/trigger/user/registered.ts
  projects/rawkode.academy/platform/rpc/tests/user/registered.hurl
  projects/rawkode.academy/platform/rpc/trigger.config.ts
  projects/rawkode.academy/platform/rpc/tsconfig.json
  projects/rawkode.academy/platform/rpc/wrangler.toml
  projects/rawkode.academy/platform/rpc/yarn.lock
Due: none

fix(rawkode.studio): implement egress recording start signal
  projects/rawkode.studio/src/components/recording-templates/RecordingTemplateWrapper.tsx
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): enable dynamic layout updates in recording templates
  projects/rawkode.studio/src/components/recording-templates/RecordingTemplateWrapper.tsx
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.academy/platform/rpc-gateway): implement PAT authentication with role-based access control
  projects/rawkode.academy/platform/rpc-gateway/.gitignore
  projects/rawkode.academy/platform/rpc-gateway/middleware/auth.ts
  projects/rawkode.academy/platform/rpc-gateway/test.spec.ts
  projects/rawkode.academy/platform/rpc-gateway/worker-configuration.d.ts
  projects/rawkode.academy/platform/rpc-gateway/wrangler.jsonc
Due: none

feat(rawkode.academy/platform/rpc-gateway): add Bruno API collection
  projects/rawkode.academy/platform/rpc-gateway/bruno-collection/README.md
  projects/rawkode.academy/platform/rpc-gateway/bruno-collection/bruno.json
  projects/rawkode.academy/platform/rpc-gateway/bruno-collection/casting-credits/create.bru
  projects/rawkode.academy/platform/rpc-gateway/bruno-collection/environments/local.bru
  projects/rawkode.academy/platform/rpc-gateway/bruno-collection/environments/production.bru
  projects/rawkode.academy/platform/rpc-gateway/bruno-collection/zpages/health.bru
  projects/rawkode.academy/platform/rpc-gateway/bruno-collection/zpages/list-services.bru
Due: none

fix(rawkode.academy/platform/rpc-gateway): ensure we handle secret store gets
  projects/rawkode.academy/platform/rpc-gateway/middleware/auth.ts
  projects/rawkode.academy/platform/rpc-gateway/opt/bruno/README.md
  projects/rawkode.academy/platform/rpc-gateway/opt/bruno/bruno.json
  projects/rawkode.academy/platform/rpc-gateway/opt/bruno/casting-credits/create.bru
  projects/rawkode.academy/platform/rpc-gateway/opt/bruno/environments/local.bru
  projects/rawkode.academy/platform/rpc-gateway/opt/bruno/environments/production.bru
  projects/rawkode.academy/platform/rpc-gateway/opt/bruno/zpages/health.bru
  projects/rawkode.academy/platform/rpc-gateway/opt/bruno/zpages/list-services.bru
  projects/rawkode.academy/platform/rpc-gateway/worker-configuration.d.ts
  projects/rawkode.academy/platform/rpc-gateway/wrangler.jsonc
Due: none

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*
