Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

website-deploy-production:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

website-deploy-merge-request:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

studio-deploy-production:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
  before_script:
  - apk add ca-certificates curl git
  ...

studio-deploy-merge-request:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
  before_script:
  - apk add ca-certificates curl git
  ...

infrastructure-dns-merge-request:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
  before_script:
  - apk add ca-certificates curl git
  ...

fix(cicd): screw docker hub rate limits
  .gitlab-ci.yml
  projects/rawkode.academy/infrastructure/zitadel/README.md
  projects/rawkode.academy/infrastructure/zitadel/zitadel.yaml
  projects/rawkode.academy/website/.envrc
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/lib/zitadel/index.ts
  projects/rawkode.academy/website/src/pages/api/auth/sign-out.ts
  projects/rawkode.academy/website/wrangler.jsonc
  projects/rawkode.studio/src/pages/api/auth/callback.ts
  projects/rawkode.studio/wrangler.jsonc
Due: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request

fix(cicd): remove extra parameter
  .gitlab-ci.yml
Due: none

fix(rawkode.studio): force build
  projects/rawkode.studio/README.md
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.academy/website): tidy up comments config
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/pages/api/comments/[videoId].ts
Due: website-deploy-production, website-deploy-merge-request

fix? login
  projects/rawkode.studio/wrangler.jsonc
Due: studio-deploy-production, studio-deploy-merge-request

chore(rawkode.academy/website): ensure influx is configured and has a field
  projects/rawkode.academy/website/.env
  projects/rawkode.academy/website/.envrc
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/actions/video.ts
  projects/rawkode.academy/website/src/pages/api/analytics.ts
  projects/rawkode.academy/website/src/pages/api/comments/[videoId].ts
  projects/rawkode.academy/website/wrangler.jsonc
Due: website-deploy-production, website-deploy-merge-request

feat(cicd): adopt GitHub Actions for CI/CD
  .gitea/ISSUE_TEMPLATE/new-defect.yaml
  .gitea/ISSUE_TEMPLATE/new-enhancement.yaml
  .gitea/ISSUE_TEMPLATE/new-operations.yaml
  .gitea/ISSUE_TEMPLATE/new-rawkode-live.yaml
  .gitea/renovate.json
  .gitea/workflows/rawkode-academy-opengraph.yaml
  .gitea/workflows/rawkode-academy-website-preview.yaml
  .gitea/workflows/rawkode-academy-website.yaml
  .gitea/workflows/rawkode-studio-preview.yaml
  .gitea/workflows/rawkode-studio.yaml
  .github/profile/README.md
  .github/workflows/infrastructure-dns.yml
  .github/workflows/rawkode-academy-website.yml
  .github/workflows/rawkode-studio-website.yml
  .gitlab-ci.yml
Due: none

feat(cicd): add explicit permissions to GitHub Actions workflows
  .github/workflows/rawkode-academy-website.yml
  .github/workflows/rawkode-studio-website.yml
Due: none

feat(cicd): enable infrastructure DNS workflow
  .github/workflows/infrastructure-dns.yml
Due: none

docs(readme): update
  .github/profile/README.md
  README.adoc
Due: none

docs(readme): use markdown
  README.adoc
  README.md
Due: none

fix(github/actions): remove preview environments
  .github/workflows/rawkode-academy-website.yml
Due: none

refactor(cicd): migrate secrets to Google Cloud Secret Manager
  .github/workflows/infrastructure-dns.yml
  .github/workflows/rawkode-academy.yml
  .github/workflows/rawkode-studio.yml
  dagger/cloudflare/dagger.json
  dagger/cloudflare/src/index.ts
  dagger/github/.gitattributes
  dagger/github/.gitignore
  dagger/github/bun.lock
  dagger/github/bun.lockb
  dagger/github/dagger.json
  dagger/github/package.json
  dagger/github/src/index.ts
  dagger/github/tsconfig.json
  infrastructure/dns/bun.lock
  infrastructure/dns/cdktf.json
  infrastructure/google-cloud/README.md
Due: infrastructure-dns-merge-request

feat(rawkode.academy/website): add posthog
  projects/rawkode.academy/website/src/components/html/head.astro
  projects/rawkode.academy/website/src/components/posthog/index.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add posthog (#556)
  projects/rawkode.academy/website/src/components/html/head.astro
  projects/rawkode.academy/website/src/components/posthog/index.astro
Due: website-deploy-production, website-deploy-merge-request

feat(GitHub): let's go
  .gitea/ISSUE_TEMPLATE/new-defect.yaml
  .gitea/ISSUE_TEMPLATE/new-enhancement.yaml
  .gitea/ISSUE_TEMPLATE/new-operations.yaml
  .gitea/ISSUE_TEMPLATE/new-rawkode-live.yaml
  .gitea/renovate.json
  .gitea/workflows/rawkode-academy-opengraph.yaml
  .gitea/workflows/rawkode-academy-website-preview.yaml
  .gitea/workflows/rawkode-academy-website.yaml
  .gitea/workflows/rawkode-studio-preview.yaml
  .gitea/workflows/rawkode-studio.yaml
  .github/workflows/infrastructure-dns.yml
  .github/workflows/rawkode-academy.yml
  .github/workflows/rawkode-studio.yml
  .gitlab-ci.yml
  README.adoc
  README.md
  dagger/cloudflare/dagger.json
  dagger/cloudflare/src/index.ts
  dagger/github/.gitattributes
  dagger/github/.gitignore
  dagger/github/bun.lock
  dagger/github/bun.lockb
  dagger/github/dagger.json
  dagger/github/package.json
  dagger/github/src/index.ts
  dagger/github/tsconfig.json
  infrastructure/dns/bun.lock
  infrastructure/dns/cdktf.json
  infrastructure/google-cloud/README.md
Due: infrastructure-dns-merge-request

article(rawkode.academy/website): kyverno 1.14 with CEL
  projects/rawkode.academy/website/content/articles/kyverno-cel-validating-policy/cover.png
  projects/rawkode.academy/website/content/articles/kyverno-cel-validating-policy/index.mdx
Due: website-deploy-production, website-deploy-merge-request

fix: date
  projects/rawkode.academy/website/content/articles/kyverno-cel-validating-policy/index.mdx
Due: website-deploy-production, website-deploy-merge-request

article(rawkode.academy/website): kyverno 1.14 with CEL (#562)
  projects/rawkode.academy/website/content/articles/kyverno-cel-validating-policy/cover.png
  projects/rawkode.academy/website/content/articles/kyverno-cel-validating-policy/index.mdx
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.academy/website): use content collection for changelog
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/content/changelog/2025-05-25-changelog.md
  projects/rawkode.academy/website/content/changelog/2025-05-25-command-palette.md
  projects/rawkode.academy/website/content/changelog/2025-05-27-comments.md
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/layouts/app.astro
  projects/rawkode.academy/website/src/pages/api/sitemap-pages.json.ts
  projects/rawkode.academy/website/src/pages/changelog/index.astro
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.studio): bump dependencies and init CLAUDE.md
  projects/rawkode.studio/CLAUDE.md
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
Due: studio-deploy-production, studio-deploy-merge-request

chore(rawkode.academy/website): use content collection for changelog (#563)
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/content/changelog/2025-05-25-changelog.md
  projects/rawkode.academy/website/content/changelog/2025-05-25-command-palette.md
  projects/rawkode.academy/website/content/changelog/2025-05-27-comments.md
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/layouts/app.astro
  projects/rawkode.academy/website/src/pages/api/sitemap-pages.json.ts
  projects/rawkode.academy/website/src/pages/changelog/index.astro
Due: website-deploy-production, website-deploy-merge-request

feat: add events service with GraphQL API and website integration
  projects/rawkode.academy/platform/events-service/.envrc
  projects/rawkode.academy/platform/events-service/.gitignore
  projects/rawkode.academy/platform/events-service/Dockerfile
  projects/rawkode.academy/platform/events-service/Justfile
  projects/rawkode.academy/platform/events-service/README.md
  projects/rawkode.academy/platform/events-service/bun.lockb
  projects/rawkode.academy/platform/events-service/dagger.json
  projects/rawkode.academy/platform/events-service/data-model/client.ts
  projects/rawkode.academy/platform/events-service/data-model/drizzle.config.ts
  projects/rawkode.academy/platform/events-service/data-model/integrations/zod.ts
  projects/rawkode.academy/platform/events-service/data-model/migrate.ts
  projects/rawkode.academy/platform/events-service/data-model/migrations/0000_quiet_clea.sql
  projects/rawkode.academy/platform/events-service/data-model/migrations/meta/0000_snapshot.json
  projects/rawkode.academy/platform/events-service/data-model/migrations/meta/_journal.json
  projects/rawkode.academy/platform/events-service/data-model/schema.ts
  projects/rawkode.academy/platform/events-service/data-model/seed.ts
  projects/rawkode.academy/platform/events-service/deno.jsonc
  projects/rawkode.academy/platform/events-service/drizzle/drizzle.config.ts
  projects/rawkode.academy/platform/events-service/drizzle/migrate.ts
  projects/rawkode.academy/platform/events-service/drizzle/migrations/0000_wet_energizer.sql
  projects/rawkode.academy/platform/events-service/drizzle/migrations/meta/_journal.json
  projects/rawkode.academy/platform/events-service/drizzle/schema/events.ts
  projects/rawkode.academy/platform/events-service/drizzle/schema/index.ts
  projects/rawkode.academy/platform/events-service/drizzle/seed.ts
  projects/rawkode.academy/platform/events-service/grafbase/.gitignore
  projects/rawkode.academy/platform/events-service/grafbase/grafbase.config.ts
  projects/rawkode.academy/platform/events-service/grafbase/resolvers/event.ts
  projects/rawkode.academy/platform/events-service/grafbase/resolvers/events.ts
  projects/rawkode.academy/platform/events-service/package.json
  projects/rawkode.academy/platform/events-service/read-model/main.ts
  projects/rawkode.academy/platform/events-service/read-model/schema.ts
  projects/rawkode.academy/platform/events-service/tsconfig.json
  projects/rawkode.academy/platform/events-service/utils/secrets.ts
  projects/rawkode.academy/platform/events-service/write-model/main.ts
  projects/rawkode.academy/website/src/components/events/events-feed.astro
Due: website-deploy-production, website-deploy-merge-request

feat: convert events service from Deno to Bun with Cloudflare D1
  projects/rawkode.academy/platform/events-service/.envrc
  projects/rawkode.academy/platform/events-service/Dockerfile
  projects/rawkode.academy/platform/events-service/Justfile
  projects/rawkode.academy/platform/events-service/data-model/client.ts
  projects/rawkode.academy/platform/events-service/data-model/drizzle.config.ts
  projects/rawkode.academy/platform/events-service/data-model/integrations/zod.ts
  projects/rawkode.academy/platform/events-service/data-model/migrate.ts
  projects/rawkode.academy/platform/events-service/data-model/schema.ts
  projects/rawkode.academy/platform/events-service/data-model/seed.ts
  projects/rawkode.academy/platform/events-service/deno.jsonc
  projects/rawkode.academy/platform/events-service/package.json
  projects/rawkode.academy/platform/events-service/read-model/main.ts
  projects/rawkode.academy/platform/events-service/read-model/schema.ts
  projects/rawkode.academy/platform/events-service/read-model/wrangler.jsonc
  projects/rawkode.academy/platform/events-service/write-model/main.ts
  projects/rawkode.academy/platform/events-service/yarn.lock
Due: none

feat: add comprehensive test coverage without mocks
  projects/rawkode.academy/platform/events-service/.envrc
  projects/rawkode.academy/platform/events-service/data-model/client.ts
  projects/rawkode.academy/platform/events-service/package.json
  projects/rawkode.academy/platform/events-service/tests/database.test.ts
  projects/rawkode.academy/platform/events-service/tests/integration.test.ts
  projects/rawkode.academy/platform/events-service/tests/schema.test.ts
Due: none

feat: remove updatedAt timestamp from events schema
  projects/rawkode.academy/platform/events-service/bun.lock
  projects/rawkode.academy/platform/events-service/data-model/integrations/zod.ts
  projects/rawkode.academy/platform/events-service/data-model/schema.ts
  projects/rawkode.academy/platform/events-service/read-model/schema.ts
Due: none

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

feat(claude): integrating with GitHub (#566)
  .github/workflows/claude.yml
Due: none

docs: add CLAUDE.md with monorepo conventions and guidelines
  CLAUDE.md
Due: none

docs(claude): add code formatting section to CLAUDE.md
  .editorconfig
  CLAUDE.md
Due: none

feat: add security.txt to rawkode.academy (#567)
  projects/rawkode.academy/website/public/.well-known/security.txt
Due: website-deploy-production, website-deploy-merge-request

fix(zulip): enable search in settings
  projects/rawkode.academy/community/zulip/README.md
  projects/rawkode.academy/community/zulip/zulip.yaml
Due: none

feat(rawkode.academy/website): add rss feeds
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/pages/api/feeds/all.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/all.xml.ts
  projects/rawkode.academy/website/src/pages/api/feeds/articles.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/articles.xml.ts
  projects/rawkode.academy/website/src/pages/api/feeds/videos.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/videos.xml.ts
  projects/rawkode.academy/website/src/pages/feeds.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.studio): allow directors to lower participants' raised hands
  projects/rawkode.studio/src/actions/index.ts
  projects/rawkode.studio/src/components/livestreams/room/RaiseHandButton.tsx
  projects/rawkode.studio/src/components/livestreams/room/RaisedHandsList.tsx
  projects/rawkode.studio/src/pages/api/livestream/participant.ts
  projects/rawkode.studio/src/pages/api/livestream/token.ts
Due: studio-deploy-production, studio-deploy-merge-request

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*
