Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*

fix(cicd): allow manual triggering of deployments
  .github/workflows/rawkode-academy.yml
Due: none

feat(rawkode.academy/website): implement ISR for video pages with Cloudflare edge caching
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/docs/isr-caching.md
  projects/rawkode.academy/website/src/pages/api/cache/purge.ts
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
  projects/rawkode.academy/website/src/pages/watch/index.astro
  projects/rawkode.academy/website/src/pages/watch/latest.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): remove cache purge API endpoint and update ISR docs
  projects/rawkode.academy/tasks/youtube-to-platform/.envrc
  projects/rawkode.academy/tasks/youtube-to-platform/.envrc.example
  projects/rawkode.academy/tasks/youtube-to-platform/.gitignore
  projects/rawkode.academy/website/.envrc
  projects/rawkode.academy/website/Justfile
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/docs/isr-caching.md
  projects/rawkode.academy/website/src/pages/api/cache/purge.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): use isr for individual video pages
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): implement ISR for video pages with Cloudflare edge caching (#586)
  projects/rawkode.academy/tasks/youtube-to-platform/.envrc
  projects/rawkode.academy/tasks/youtube-to-platform/.envrc.example
  projects/rawkode.academy/tasks/youtube-to-platform/.gitignore
  projects/rawkode.academy/website/.envrc
  projects/rawkode.academy/website/Justfile
  projects/rawkode.academy/website/docs/isr-caching.md
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
  projects/rawkode.academy/website/src/pages/watch/index.astro
  projects/rawkode.academy/website/src/pages/watch/latest.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/tasks): add YouTube to R2 import tools
  projects/rawkode.academy/tasks/youtube-to-platform/README.md
  projects/rawkode.academy/tasks/youtube-to-platform/create_resume_state.py
  projects/rawkode.academy/tasks/youtube-to-platform/create_state_file.py
  projects/rawkode.academy/tasks/youtube-to-platform/pyproject.toml
  projects/rawkode.academy/tasks/youtube-to-platform/restore_state_with_metadata.py
  projects/rawkode.academy/tasks/youtube-to-platform/uv.lock
  projects/rawkode.academy/tasks/youtube-to-platform/youtube_to_r2.py
Due: none

feat(rawkode.academy/tasks): add YouTube to R2 import tools (#587)
  projects/rawkode.academy/tasks/youtube-to-platform/README.md
  projects/rawkode.academy/tasks/youtube-to-platform/create_resume_state.py
  projects/rawkode.academy/tasks/youtube-to-platform/create_state_file.py
  projects/rawkode.academy/tasks/youtube-to-platform/pyproject.toml
  projects/rawkode.academy/tasks/youtube-to-platform/restore_state_with_metadata.py
  projects/rawkode.academy/tasks/youtube-to-platform/uv.lock
  projects/rawkode.academy/tasks/youtube-to-platform/youtube_to_r2.py
Due: none

fix(rawkode.academy/website): fetch videos from API when not in build-time collection
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): fetch videos from API when not in build-time collection (#588)
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/playground): implement RKA CLI for local learning environments
  projects/rawkode.academy/playground/rka/Cargo.lock
  projects/rawkode.academy/playground/rka/Cargo.toml
  projects/rawkode.academy/playground/rka/LICENSE
  projects/rawkode.academy/playground/rka/README.md
  projects/rawkode.academy/playground/rka/SUMMARY.md
  projects/rawkode.academy/playground/rka/install.sh
  projects/rawkode.academy/playground/rka/src/api/mod.rs
  projects/rawkode.academy/playground/rka/src/cli/completion.rs
  projects/rawkode.academy/playground/rka/src/cli/destroy.rs
  projects/rawkode.academy/playground/rka/src/cli/doctor.rs
  projects/rawkode.academy/playground/rka/src/cli/exec.rs
  projects/rawkode.academy/playground/rka/src/cli/list.rs
  projects/rawkode.academy/playground/rka/src/cli/logs.rs
  projects/rawkode.academy/playground/rka/src/cli/mod.rs
  projects/rawkode.academy/playground/rka/src/cli/port_forward.rs
  projects/rawkode.academy/playground/rka/src/cli/start.rs
  projects/rawkode.academy/playground/rka/src/cli/status.rs
  projects/rawkode.academy/playground/rka/src/cli/stop.rs
  projects/rawkode.academy/playground/rka/src/main.rs
  projects/rawkode.academy/playground/rka/src/state/mod.rs
  projects/rawkode.academy/playground/rka/src/state/tests.rs
  projects/rawkode.academy/playground/rka/src/utils/mod.rs
  projects/rawkode.academy/playground/rka/src/vm/docker.rs
  projects/rawkode.academy/playground/rka/src/vm/lima.rs
  projects/rawkode.academy/playground/rka/src/vm/mod.rs
  projects/rawkode.academy/playground/rka/tests/integration_test.rs
Due: none

docs(rawkode.academy/platform): add GraphQL microservices guide
  projects/rawkode.academy/platform/CLAUDE.md
Due: none

feat(rawkode.academy/tasks): add media migration utilities and MP3 extraction job
  projects/rawkode.academy/tasks/mp3-extraction-job/Dockerfile
  projects/rawkode.academy/tasks/mp3-extraction-job/README.md
  projects/rawkode.academy/tasks/mp3-extraction-job/deno.jsonc
  projects/rawkode.academy/tasks/mp3-extraction-job/main.ts
  projects/rawkode.academy/tasks/mp3-extraction-job/rebuild_audio_files.sh
  projects/rawkode.academy/tasks/mp3-extraction-job/utilities/http.ts
  projects/rawkode.academy/tasks/mp3-extraction-job/utilities/s3.ts
  projects/rawkode.academy/tasks/youtube-to-platform/README.md
  projects/rawkode.academy/tasks/youtube-to-platform/migrate_thumbnails.py
  projects/rawkode.academy/tasks/youtube-to-platform/migrate_thumbnails_fast.py
  projects/rawkode.academy/tasks/youtube-to-platform/standardize_media_names.py
Due: none

fix(rawkode.academy/website): article had wrong publish date
  projects/rawkode.academy/website/content/articles/kyverno-cel-validating-policy/index.mdx
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): article had wrong publish date (#590)
  projects/rawkode.academy/website/content/articles/kyverno-cel-validating-policy/index.mdx
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.academy): keeping tasks away from platform services
  projects/rawkode.academy/platform/transcriptions/bun.lock
  projects/rawkode.academy/tasks/transcoding-job/.vscode/settings.json
  projects/rawkode.academy/tasks/transcoding-job/Dockerfile
  projects/rawkode.academy/tasks/transcoding-job/Justfile
  projects/rawkode.academy/tasks/transcoding-job/deno.jsonc
  projects/rawkode.academy/tasks/transcoding-job/deno.lock
  projects/rawkode.academy/tasks/transcoding-job/globals.ts
  projects/rawkode.academy/tasks/transcoding-job/main.ts
  projects/rawkode.academy/tasks/transcoding-job/utilities/ffmpeg.ts
  projects/rawkode.academy/tasks/transcoding-job/utilities/http.ts
  projects/rawkode.academy/tasks/transcoding-job/utilities/mod.ts
  projects/rawkode.academy/tasks/transcoding-job/utilities/rclone.ts
  projects/rawkode.academy/tasks/transcoding-job/utilities/s3.ts
Due: none

chore(rawkode.academy): keeping tasks away from platform services (#591)
  projects/rawkode.academy/platform/transcriptions/bun.lock
  projects/rawkode.academy/tasks/transcoding-job/.vscode/settings.json
  projects/rawkode.academy/tasks/transcoding-job/Dockerfile
  projects/rawkode.academy/tasks/transcoding-job/Justfile
  projects/rawkode.academy/tasks/transcoding-job/deno.jsonc
  projects/rawkode.academy/tasks/transcoding-job/deno.lock
  projects/rawkode.academy/tasks/transcoding-job/globals.ts
  projects/rawkode.academy/tasks/transcoding-job/main.ts
  projects/rawkode.academy/tasks/transcoding-job/utilities/ffmpeg.ts
  projects/rawkode.academy/tasks/transcoding-job/utilities/http.ts
  projects/rawkode.academy/tasks/transcoding-job/utilities/mod.ts
  projects/rawkode.academy/tasks/transcoding-job/utilities/rclone.ts
  projects/rawkode.academy/tasks/transcoding-job/utilities/s3.ts
Due: none

feat(rawkode.academy/transcriptions): migrate to Cloudflare Workflows
  projects/rawkode.academy/platform/CLAUDE.md
  projects/rawkode.academy/platform/transcriptions/.envrc
  projects/rawkode.academy/platform/transcriptions/Dockerfile
  projects/rawkode.academy/platform/transcriptions/deno.lock
  projects/rawkode.academy/platform/transcriptions/moon.yml
  projects/rawkode.academy/platform/transcriptions/package.json
  projects/rawkode.academy/platform/transcriptions/scripts/schedule_all.ts
  projects/rawkode.academy/platform/transcriptions/src/main.ts
  projects/rawkode.academy/platform/transcriptions/src/workflow.ts
  projects/rawkode.academy/platform/transcriptions/tsconfig.json
  projects/rawkode.academy/platform/transcriptions/wrangler.jsonc
  projects/rawkode.academy/platform/transcriptions/write-model/main.ts
  projects/rawkode.academy/platform/transcriptions/write-model/wrangler.jsonc
Due: none

feat(rawkode.academy/transcriptions): add API authentication and enhance workflow implementation
  projects/rawkode.academy/platform/transcriptions/.envrc
  projects/rawkode.academy/platform/transcriptions/README.md
  projects/rawkode.academy/platform/transcriptions/bun.lock
  projects/rawkode.academy/platform/transcriptions/scripts/schedule_all.ts
  projects/rawkode.academy/platform/transcriptions/src/main.ts
  projects/rawkode.academy/platform/transcriptions/src/workflow.ts
  projects/rawkode.academy/platform/transcriptions/wrangler.jsonc
Due: none

feat(rawkode.academy/website): implement WebVTT transcript display functionality (#594)
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/transcriptions): migrate to Cloudflare Workflows (#592)
  projects/rawkode.academy/platform/CLAUDE.md
  projects/rawkode.academy/platform/transcriptions/.envrc
  projects/rawkode.academy/platform/transcriptions/Dockerfile
  projects/rawkode.academy/platform/transcriptions/README.md
  projects/rawkode.academy/platform/transcriptions/bun.lock
  projects/rawkode.academy/platform/transcriptions/deno.lock
  projects/rawkode.academy/platform/transcriptions/moon.yml
  projects/rawkode.academy/platform/transcriptions/package.json
  projects/rawkode.academy/platform/transcriptions/scripts/schedule_all.ts
  projects/rawkode.academy/platform/transcriptions/src/main.ts
  projects/rawkode.academy/platform/transcriptions/src/workflow.ts
  projects/rawkode.academy/platform/transcriptions/tsconfig.json
  projects/rawkode.academy/platform/transcriptions/wrangler.jsonc
  projects/rawkode.academy/platform/transcriptions/write-model/main.ts
  projects/rawkode.academy/platform/transcriptions/write-model/wrangler.jsonc
Due: none

chore(codeowners): generate a single codeowners for github
  .github/workflows/claude.yaml
  .github/workflows/codeowners.yaml
  .github/workflows/infrastructure-dns.yaml
  .github/workflows/rawkode-academy.yaml
  .github/workflows/rawkode-studio.yaml
  CODEOWNERS
  projects/rawkode.academy/website/content/adrs/CODEOWNERS
Due: website-deploy-production, website-deploy-merge-request

fix(codeowners): ensure we only allow read permission
  .github/workflows/codeowners.yaml
Due: none

chore(codeowners): generate a single codeowners for github (#596)
  .github/workflows/claude.yaml
  .github/workflows/codeowners.yaml
  .github/workflows/infrastructure-dns.yaml
  .github/workflows/rawkode-academy.yaml
  .github/workflows/rawkode-studio.yaml
  CODEOWNERS
  projects/rawkode.academy/website/content/adrs/CODEOWNERS
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.studio): add auto-recording capability and remove redundant loading spinners
  projects/rawkode.studio/CLAUDE.md
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/actions/index.ts
  projects/rawkode.studio/src/components/livestreams/active/create-livestreams-dialog.tsx
  projects/rawkode.studio/src/components/livestreams/active/delete-livestream-dialog.tsx
  projects/rawkode.studio/src/components/shadcn/checkbox.tsx
  projects/rawkode.studio/src/components/shadcn/select.tsx
  projects/rawkode.studio/src/lib/livekit.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): add auto-recording capability and remove redund… (#595)
  projects/rawkode.studio/CLAUDE.md
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/actions/index.ts
  projects/rawkode.studio/src/components/livestreams/active/create-livestreams-dialog.tsx
  projects/rawkode.studio/src/components/livestreams/active/delete-livestream-dialog.tsx
  projects/rawkode.studio/src/components/shadcn/checkbox.tsx
  projects/rawkode.studio/src/components/shadcn/select.tsx
  projects/rawkode.studio/src/lib/livekit.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.academy/website): Implement responsive video content tabs with mobile dropdown
  projects/rawkode.academy/website/src/components/video/reactions.vue
  projects/rawkode.academy/website/src/components/video/transcript.vue
  projects/rawkode.academy/website/src/components/video/video-content-tabs.vue
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): Implement responsive video content tabs with mobile dropdown (#597)
  projects/rawkode.academy/website/src/components/video/reactions.vue
  projects/rawkode.academy/website/src/components/video/transcript.vue
  projects/rawkode.academy/website/src/components/video/video-content-tabs.vue
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

fix: improve dark mode video description contrast (#599)
  projects/rawkode.academy/website/src/components/video/video-content-tabs.vue
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.studio): restructure components and enhance livestream functionality
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/components/app.tsx
  projects/rawkode.studio/src/components/layout/LivestreamCounter.tsx
  projects/rawkode.studio/src/components/layout/SidebarLayout.tsx
  projects/rawkode.studio/src/components/livestreams/active/invite-room-form.tsx
  projects/rawkode.studio/src/components/livestreams/dialogs/CreateLivestreamDialog.tsx
  projects/rawkode.studio/src/components/livestreams/dialogs/DeleteLivestreamDialog.tsx
  projects/rawkode.studio/src/components/livestreams/dialogs/DeviceSettingsDialog.tsx
  projects/rawkode.studio/src/components/livestreams/dialogs/InviteLivestreamDialog.tsx
  projects/rawkode.studio/src/components/livestreams/forms/InviteRoomForm.tsx
  projects/rawkode.studio/src/components/livestreams/forms/RoomJoinForm.tsx
  projects/rawkode.studio/src/components/livestreams/room/Chat.tsx
  projects/rawkode.studio/src/components/livestreams/room/LivekitRoom.tsx
  projects/rawkode.studio/src/components/livestreams/room/RoomControls.tsx
  projects/rawkode.studio/src/components/pages/HomePage.tsx
  projects/rawkode.studio/src/components/pages/LoginPage.tsx
  projects/rawkode.studio/src/components/pages/ProfilePage.tsx
  projects/rawkode.studio/src/components/pages/livestreams/ActiveLivestreamsPage.tsx
  projects/rawkode.studio/src/components/pages/livestreams/PastLivestreamDetailsPage.tsx
  projects/rawkode.studio/src/components/pages/livestreams/PastLivestreamsPage.tsx
  projects/rawkode.studio/src/components/ui/EmojiPicker.tsx
  projects/rawkode.studio/src/hooks/useRoomCreation.ts
  projects/rawkode.studio/src/pages/invite/[roomName].astro
  projects/rawkode.studio/src/pages/login.astro
  projects/rawkode.studio/src/pages/watch/[roomName].astro
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): optimize bundle size with code splitting and update dependencies
  projects/rawkode.studio/CLAUDE.md
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/components/App.tsx
  projects/rawkode.studio/src/components/common/ProtectedRoute.tsx
  projects/rawkode.studio/src/components/layout/SidebarLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/PermissionHandler.tsx
  projects/rawkode.studio/src/components/pages/HomePage.tsx
  projects/rawkode.studio/src/components/shadcn/badge.tsx
  projects/rawkode.studio/src/components/shadcn/dialog.tsx
  projects/rawkode.studio/src/components/shadcn/scroll-area.tsx
  projects/rawkode.studio/src/components/shadcn/separator.tsx
  projects/rawkode.studio/src/components/shadcn/sidebar.tsx
  projects/rawkode.studio/src/components/shadcn/sonner.tsx
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): optimize bundle size with code splitting and up… (#601)
  projects/rawkode.studio/CLAUDE.md
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/components/App.tsx
  projects/rawkode.studio/src/components/common/ProtectedRoute.tsx
  projects/rawkode.studio/src/components/layout/SidebarLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/PermissionHandler.tsx
  projects/rawkode.studio/src/components/pages/HomePage.tsx
  projects/rawkode.studio/src/components/shadcn/badge.tsx
  projects/rawkode.studio/src/components/shadcn/dialog.tsx
  projects/rawkode.studio/src/components/shadcn/scroll-area.tsx
  projects/rawkode.studio/src/components/shadcn/separator.tsx
  projects/rawkode.studio/src/components/shadcn/sidebar.tsx
  projects/rawkode.studio/src/components/shadcn/sonner.tsx
Due: studio-deploy-production, studio-deploy-merge-request

fix: make sure search works
  projects/rawkode.academy/website/src/components/command-palette/icons.tsx
  projects/rawkode.academy/website/src/components/command-palette/index.tsx
  projects/rawkode.academy/website/src/components/command-palette/styles.css
  projects/rawkode.academy/website/src/components/command-palette/wrapper.tsx
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): make command palette search work in production
  projects/rawkode.academy/website/src/components/command-palette/index.tsx
  projects/rawkode.academy/website/src/pages/api/sitemap-pages.json.ts
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): fetch video data via GraphQL for sitemap generation
  projects/rawkode.academy/tasks/remove-content-prefix/.envrc
  projects/rawkode.academy/tasks/remove-content-prefix/delete-r2-prefix.sh
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/pages/sitemap-index.xml.ts
  projects/rawkode.academy/website/src/pages/sitemap-videos.xml.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): integrate video URLs into main sitemap via GraphQL
  projects/rawkode.academy/tasks/remove-content-prefix/delete-r2-prefix.py
  projects/rawkode.academy/tasks/remove-content-prefix/delete-r2-prefix.sh
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/lib/fetch-videos.ts
  projects/rawkode.academy/website/src/pages/sitemap-index.xml.ts
  projects/rawkode.academy/website/src/pages/sitemap-videos.xml.ts
Due: website-deploy-production, website-deploy-merge-request

fix: make sure search works (#603)
  projects/rawkode.academy/tasks/remove-content-prefix/.envrc
  projects/rawkode.academy/tasks/remove-content-prefix/delete-r2-prefix.py
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/components/command-palette/icons.tsx
  projects/rawkode.academy/website/src/components/command-palette/index.tsx
  projects/rawkode.academy/website/src/components/command-palette/styles.css
  projects/rawkode.academy/website/src/components/command-palette/wrapper.tsx
  projects/rawkode.academy/website/src/lib/fetch-videos.ts
  projects/rawkode.academy/website/src/pages/api/sitemap-pages.json.ts
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): enhance command palette with dynamic article search
  projects/rawkode.academy/website/src/components/command-palette/index.tsx.bak
  projects/rawkode.academy/website/src/components/command-palette/styles.css
  projects/rawkode.academy/website/src/pages/api/search-articles.json.ts
  projects/rawkode.academy/website/src/pages/api/sitemap-pages.json.ts
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): enhance command palette with dynamic article search (#604)
  projects/rawkode.academy/website/src/components/command-palette/index.tsx.bak
  projects/rawkode.academy/website/src/components/command-palette/styles.css
  projects/rawkode.academy/website/src/pages/api/search-articles.json.ts
  projects/rawkode.academy/website/src/pages/api/sitemap-pages.json.ts
Due: website-deploy-production, website-deploy-merge-request
