Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

website-deploy-production:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

website-deploy-merge-request:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

studio-deploy-production:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

studio-deploy-merge-request:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

infrastructure-dns-merge-request:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

feat(rawkode.academy/website): add social share buttons for videos
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/components/video/ShareButton.vue
  projects/rawkode.academy/website/src/components/video/reactions.vue
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add analytics tracking for share buttons
  projects/rawkode.academy/website/README.md
  projects/rawkode.academy/website/integrations/influxdb/analytics/share.json
  projects/rawkode.academy/website/src/actions/index.ts
  projects/rawkode.academy/website/src/actions/share.ts
  projects/rawkode.academy/website/src/components/video/ShareButton.vue
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): use video ID for share analytics tracking
  projects/rawkode.academy/website/src/components/video/ShareButton.vue
  projects/rawkode.academy/website/src/components/video/reactions.vue
Due: website-deploy-production, website-deploy-merge-request

docs(rawkode.academy/website): add changelog entry for video share buttons
  projects/rawkode.academy/website/content/changelog/2025-06-10-video-share-buttons.md
Due: website-deploy-production, website-deploy-merge-request

feature/share button improvements (#605)
  projects/rawkode.academy/website/README.md
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/content/changelog/2025-06-10-video-share-buttons.md
  projects/rawkode.academy/website/integrations/influxdb/analytics/share.json
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/actions/index.ts
  projects/rawkode.academy/website/src/actions/share.ts
  projects/rawkode.academy/website/src/components/video/ShareButton.vue
  projects/rawkode.academy/website/src/components/video/reactions.vue
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

Add tests for casting-credits service
  projects/rawkode.academy/platform/casting-credits/README.md
  projects/rawkode.academy/platform/casting-credits/bun.lock
  projects/rawkode.academy/platform/casting-credits/package.json
  projects/rawkode.academy/platform/casting-credits/tests/README.md
  projects/rawkode.academy/platform/casting-credits/tests/client.test.ts
  projects/rawkode.academy/platform/casting-credits/tests/helpers.ts
  projects/rawkode.academy/platform/casting-credits/tests/integration.test.ts
  projects/rawkode.academy/platform/casting-credits/tests/resolvers.test.ts
  projects/rawkode.academy/platform/casting-credits/tests/schema.test.ts
Due: none

Add integration tests for casting-credits service
  projects/rawkode.academy/platform/casting-credits/README.md
  projects/rawkode.academy/platform/casting-credits/tests/README.md
  projects/rawkode.academy/platform/casting-credits/tests/integration/README.md
  projects/rawkode.academy/platform/casting-credits/tests/integration/database.test.ts
  projects/rawkode.academy/platform/casting-credits/tests/integration/graphql-api.test.ts
Due: none

Add emoji reactions service for learner content interactions
  projects/rawkode.academy/platform/emoji-reactions/.dockerignore
  projects/rawkode.academy/platform/emoji-reactions/.envrc
  projects/rawkode.academy/platform/emoji-reactions/.gitignore
  projects/rawkode.academy/platform/emoji-reactions/.vscode/settings.json
  projects/rawkode.academy/platform/emoji-reactions/Justfile
  projects/rawkode.academy/platform/emoji-reactions/README.md
  projects/rawkode.academy/platform/emoji-reactions/data-model/client.ts
  projects/rawkode.academy/platform/emoji-reactions/data-model/drizzle.config.ts
  projects/rawkode.academy/platform/emoji-reactions/data-model/migrate.ts
  projects/rawkode.academy/platform/emoji-reactions/data-model/schema.ts
  projects/rawkode.academy/platform/emoji-reactions/moon.yml
  projects/rawkode.academy/platform/emoji-reactions/package.json
  projects/rawkode.academy/platform/emoji-reactions/read-model/.gitignore
  projects/rawkode.academy/platform/emoji-reactions/read-model/main.ts
  projects/rawkode.academy/platform/emoji-reactions/read-model/publish.ts
  projects/rawkode.academy/platform/emoji-reactions/read-model/schema.ts
  projects/rawkode.academy/platform/emoji-reactions/read-model/wrangler.jsonc
Due: none

feat(rawkode.academy): cron triggered social posts
  projects/rawkode.academy/tasks/social-random-video/.envrc
  projects/rawkode.academy/tasks/social-random-video/.gitignore
  projects/rawkode.academy/tasks/social-random-video/README.md
  projects/rawkode.academy/tasks/social-random-video/biome.json
  projects/rawkode.academy/tasks/social-random-video/bun.lock
  projects/rawkode.academy/tasks/social-random-video/package.json
  projects/rawkode.academy/tasks/social-random-video/src/index.ts
  projects/rawkode.academy/tasks/social-random-video/tsconfig.json
  projects/rawkode.academy/tasks/social-random-video/wrangler.toml
Due: none

refactor(rawkode.studio): improve room ID system and enhance recording configuration
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/drizzle/0000_same_shockwave.sql
  projects/rawkode.studio/drizzle/meta/0000_snapshot.json
  projects/rawkode.studio/drizzle/meta/_journal.json
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/actions/chat.ts
  projects/rawkode.studio/src/actions/participants.ts
  projects/rawkode.studio/src/actions/rooms.ts
  projects/rawkode.studio/src/components/livestreams/dialogs/CreateLivestreamDialog.tsx
  projects/rawkode.studio/src/components/livestreams/dialogs/DeleteLivestreamDialog.tsx
  projects/rawkode.studio/src/components/livestreams/dialogs/InviteLivestreamDialog.tsx
  projects/rawkode.studio/src/components/livestreams/prejoin/PrejoinScreen.tsx
  projects/rawkode.studio/src/components/livestreams/room/RoomWrapper.tsx
  projects/rawkode.studio/src/components/livestreams/room/chat/Chat.tsx
  projects/rawkode.studio/src/components/livestreams/room/controls/PresenterSelector.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/LiveKitRoom.tsx
  projects/rawkode.studio/src/components/pages/livestreams/ActiveLivestreamsPage.tsx
  projects/rawkode.studio/src/hooks/useRoomCreation.ts
  projects/rawkode.studio/src/lib/generateRoomId.ts
  projects/rawkode.studio/src/lib/recordingConfig.ts
  projects/rawkode.studio/src/pages/api/livestream/chat.ts
  projects/rawkode.studio/src/pages/api/webhooks/livekit.ts
  projects/rawkode.studio/src/pages/watch/[roomName].astro
  projects/rawkode.studio/src/schema.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.academy/social): post a random video three times a day
  env.cue
  projects/rawkode.academy/tasks/random-social-post/.gitignore
  projects/rawkode.academy/tasks/random-social-post/.vscode/settings.json
  projects/rawkode.academy/tasks/random-social-post/CONTRIBUTING.md
  projects/rawkode.academy/tasks/random-social-post/README.md
  projects/rawkode.academy/tasks/random-social-post/bun.lock
  projects/rawkode.academy/tasks/random-social-post/env.cue
  projects/rawkode.academy/tasks/random-social-post/package.json
  projects/rawkode.academy/tasks/random-social-post/src/env.d.ts
  projects/rawkode.academy/tasks/random-social-post/src/fetchRandomVideos.test.ts
  projects/rawkode.academy/tasks/random-social-post/src/index.ts
  projects/rawkode.academy/tasks/random-social-post/src/prompts/bluesky.txt
  projects/rawkode.academy/tasks/random-social-post/src/prompts/linkedin.txt
  projects/rawkode.academy/tasks/random-social-post/src/prompts/zulip.txt
  projects/rawkode.academy/tasks/random-social-post/src/steps/fetchRandomVideo.ts
  projects/rawkode.academy/tasks/random-social-post/src/steps/generateSocialPost.ts
  projects/rawkode.academy/tasks/random-social-post/src/steps/index.ts
  projects/rawkode.academy/tasks/random-social-post/src/steps/publishToSocialPlatforms.ts
  projects/rawkode.academy/tasks/random-social-post/tsconfig.json
  projects/rawkode.academy/tasks/random-social-post/wrangler.jsonc
Due: none

feat(rawkode.academy/social): post a random video three times a day (#610)
  env.cue
  projects/rawkode.academy/tasks/random-social-post/.gitignore
  projects/rawkode.academy/tasks/random-social-post/.vscode/settings.json
  projects/rawkode.academy/tasks/random-social-post/CONTRIBUTING.md
  projects/rawkode.academy/tasks/random-social-post/README.md
  projects/rawkode.academy/tasks/random-social-post/bun.lock
  projects/rawkode.academy/tasks/random-social-post/env.cue
  projects/rawkode.academy/tasks/random-social-post/package.json
  projects/rawkode.academy/tasks/random-social-post/src/env.d.ts
  projects/rawkode.academy/tasks/random-social-post/src/fetchRandomVideos.test.ts
  projects/rawkode.academy/tasks/random-social-post/src/index.ts
  projects/rawkode.academy/tasks/random-social-post/src/prompts/bluesky.txt
  projects/rawkode.academy/tasks/random-social-post/src/prompts/linkedin.txt
  projects/rawkode.academy/tasks/random-social-post/src/prompts/zulip.txt
  projects/rawkode.academy/tasks/random-social-post/src/steps/fetchRandomVideo.ts
  projects/rawkode.academy/tasks/random-social-post/src/steps/generateSocialPost.ts
  projects/rawkode.academy/tasks/random-social-post/src/steps/index.ts
  projects/rawkode.academy/tasks/random-social-post/src/steps/publishToSocialPlatforms.ts
  projects/rawkode.academy/tasks/random-social-post/tsconfig.json
  projects/rawkode.academy/tasks/random-social-post/wrangler.jsonc
Due: none

feat(rawkode.studio): enhance livestream pages with identifiers and duration tracking
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/components/pages/livestreams/ActiveLivestreamsPage.tsx
  projects/rawkode.studio/src/components/pages/livestreams/PastLivestreamDetailsPage.tsx
  projects/rawkode.studio/src/components/pages/livestreams/PastLivestreamsPage.tsx
  projects/rawkode.studio/src/lib/duration.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): enhance livestream pages with identifiers and d… (#611)
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/components/pages/livestreams/ActiveLivestreamsPage.tsx
  projects/rawkode.studio/src/components/pages/livestreams/PastLivestreamDetailsPage.tsx
  projects/rawkode.studio/src/components/pages/livestreams/PastLivestreamsPage.tsx
  projects/rawkode.studio/src/lib/duration.ts
Due: studio-deploy-production, studio-deploy-merge-request

refactor(rawkode.studio): rename participantsJoined to participantsCount
  projects/rawkode.studio/src/actions/rooms.ts
  projects/rawkode.studio/src/components/pages/livestreams/PastLivestreamsPage.tsx
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): add active livestreams display and fix room name handling
  projects/rawkode.studio/src/actions/rooms.ts
  projects/rawkode.studio/src/components/livestreams/prejoin/PrejoinScreen.tsx
  projects/rawkode.studio/src/components/livestreams/room/RoomWrapper.tsx
  projects/rawkode.studio/src/components/pages/HomePage.tsx
  projects/rawkode.studio/src/pages/watch/[roomName].astro
Due: studio-deploy-production, studio-deploy-merge-request

refactor(rawkode.studio): optimize livestream layout components
  projects/rawkode.studio/src/components/livestreams/room/chat/Chat.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/LiveKitRoom.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/EmptyState.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/GridLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/InterviewLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PanelLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PictureInPictureLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PresentationLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/SideBySideLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/SingleSpeakerLayout.tsx
  projects/rawkode.studio/src/styles/global.css
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): add chat persistence and improve UX
  projects/rawkode.studio/src/components/livestreams/room/chat/Chat.tsx
  projects/rawkode.studio/src/hooks/useRoomConnection.ts
  projects/rawkode.studio/src/lib/security.ts
  projects/rawkode.studio/src/pages/api/livestream/chat.ts
  projects/rawkode.studio/src/pages/api/livestream/layout.ts
  projects/rawkode.studio/src/pages/api/livestream/participant.ts
Due: studio-deploy-production, studio-deploy-merge-request

Maintenance UI improvements (#612)
  projects/rawkode.studio/src/actions/rooms.ts
  projects/rawkode.studio/src/components/livestreams/prejoin/PrejoinScreen.tsx
  projects/rawkode.studio/src/components/livestreams/room/RoomWrapper.tsx
  projects/rawkode.studio/src/components/livestreams/room/chat/Chat.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/LiveKitRoom.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/EmptyState.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/GridLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/InterviewLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PanelLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PictureInPictureLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PresentationLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/SideBySideLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/SingleSpeakerLayout.tsx
  projects/rawkode.studio/src/components/pages/HomePage.tsx
  projects/rawkode.studio/src/components/pages/livestreams/PastLivestreamsPage.tsx
  projects/rawkode.studio/src/hooks/useRoomConnection.ts
  projects/rawkode.studio/src/lib/security.ts
  projects/rawkode.studio/src/pages/api/livestream/chat.ts
  projects/rawkode.studio/src/pages/api/livestream/layout.ts
  projects/rawkode.studio/src/pages/api/livestream/participant.ts
  projects/rawkode.studio/src/pages/watch/[roomName].astro
  projects/rawkode.studio/src/styles/global.css
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): remove user authentication check and add room validation
  projects/rawkode.studio/src/actions/chat.ts
  projects/rawkode.studio/src/pages/api/livestream/chat.ts
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): remove user authentication check and add room va… (#613)
  projects/rawkode.studio/src/actions/chat.ts
  projects/rawkode.studio/src/pages/api/livestream/chat.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): add theme toggle to settings and prejoin screens with guest login option
  projects/rawkode.studio/src/components/livestreams/dialogs/SettingsDialog.tsx
  projects/rawkode.studio/src/components/livestreams/prejoin/PrejoinScreen.tsx
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): add theme toggle to settings and prejoin screen… (#614)
  projects/rawkode.studio/src/components/livestreams/dialogs/SettingsDialog.tsx
  projects/rawkode.studio/src/components/livestreams/prejoin/PrejoinScreen.tsx
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): add participant nameplates to all video layouts
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/actions/rooms.ts
  projects/rawkode.studio/src/components/layout/LivestreamCounter.tsx
  projects/rawkode.studio/src/components/layout/SidebarLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/LiveKitRoom.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/GridLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/InterviewLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PanelLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/ParticipantNameplate.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PictureInPictureLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PresentationLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/SideBySideLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/SingleSpeakerLayout.tsx
  projects/rawkode.studio/src/hooks/useLivestreamToken.ts
  projects/rawkode.studio/src/lib/security.ts
  projects/rawkode.studio/src/lib/zitadel.ts
  projects/rawkode.studio/src/pages/api/auth/callback.ts
  projects/rawkode.studio/src/pages/api/auth/login.ts
  projects/rawkode.studio/src/pages/api/livestream/layout.ts
  projects/rawkode.studio/src/pages/api/livestream/participant.ts
  projects/rawkode.studio/src/pages/api/livestream/refresh-token.ts
  projects/rawkode.studio/src/pages/api/livestream/token.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): add participant nameplates to all video layouts (#615)
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/actions/rooms.ts
  projects/rawkode.studio/src/components/layout/LivestreamCounter.tsx
  projects/rawkode.studio/src/components/layout/SidebarLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/LiveKitRoom.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/GridLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/InterviewLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PanelLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/ParticipantNameplate.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PictureInPictureLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/PresentationLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/SideBySideLayout.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/SingleSpeakerLayout.tsx
  projects/rawkode.studio/src/hooks/useLivestreamToken.ts
  projects/rawkode.studio/src/lib/security.ts
  projects/rawkode.studio/src/lib/zitadel.ts
  projects/rawkode.studio/src/pages/api/auth/callback.ts
  projects/rawkode.studio/src/pages/api/auth/login.ts
  projects/rawkode.studio/src/pages/api/livestream/layout.ts
  projects/rawkode.studio/src/pages/api/livestream/participant.ts
  projects/rawkode.studio/src/pages/api/livestream/refresh-token.ts
  projects/rawkode.studio/src/pages/api/livestream/token.ts
Due: studio-deploy-production, studio-deploy-merge-request

wip
  projects/rawkode.academy/tasks/random-social-post/src/steps/generateSocialPost.ts
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/.envrc
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/Cargo.lock
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/Cargo.toml
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/README.md
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/src/browser.rs
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/src/database.rs
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/src/editor.rs
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/src/graphql.rs
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/src/guest_editor.rs
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/src/main.rs
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/src/technology_editor.rs
  projects/rawkode.academy/tasks/show-assigner/metadata-mixer/src/video.rs
Due: none

feat(rawkode.studio): use displayName attribute from LiveKit token for participant names
  projects/rawkode.studio/src/actions/chat.ts
  projects/rawkode.studio/src/components/livestreams/prejoin/PrejoinScreen.tsx
  projects/rawkode.studio/src/components/livestreams/room/RoomWrapper.tsx
  projects/rawkode.studio/src/components/livestreams/room/chat/Chat.tsx
  projects/rawkode.studio/src/components/livestreams/room/controls/PresenterSelector.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/LiveKitRoom.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/ParticipantNameplate.tsx
  projects/rawkode.studio/src/components/livestreams/room/participants/ParticipantsList.tsx
  projects/rawkode.studio/src/components/livestreams/room/participants/RaisedHandsList.tsx
  projects/rawkode.studio/src/hooks/useLivestreamToken.ts
  projects/rawkode.studio/src/hooks/useParticipantInfo.ts
  projects/rawkode.studio/src/lib/guest.ts
  projects/rawkode.studio/src/lib/security.ts
  projects/rawkode.studio/src/lib/zitadel.ts
  projects/rawkode.studio/src/pages/api/livestream/chat.ts
  projects/rawkode.studio/src/pages/api/livestream/token.ts
  projects/rawkode.studio/src/pages/api/webhooks/livekit.ts
  projects/rawkode.studio/src/pages/watch/[roomName].astro
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): use displayName attribute from LiveKit token fo… (#616)
  projects/rawkode.studio/src/actions/chat.ts
  projects/rawkode.studio/src/components/livestreams/prejoin/PrejoinScreen.tsx
  projects/rawkode.studio/src/components/livestreams/room/RoomWrapper.tsx
  projects/rawkode.studio/src/components/livestreams/room/chat/Chat.tsx
  projects/rawkode.studio/src/components/livestreams/room/controls/PresenterSelector.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/LiveKitRoom.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/ParticipantNameplate.tsx
  projects/rawkode.studio/src/components/livestreams/room/participants/ParticipantsList.tsx
  projects/rawkode.studio/src/components/livestreams/room/participants/RaisedHandsList.tsx
  projects/rawkode.studio/src/hooks/useLivestreamToken.ts
  projects/rawkode.studio/src/hooks/useParticipantInfo.ts
  projects/rawkode.studio/src/lib/guest.ts
  projects/rawkode.studio/src/lib/security.ts
  projects/rawkode.studio/src/lib/zitadel.ts
  projects/rawkode.studio/src/pages/api/livestream/chat.ts
  projects/rawkode.studio/src/pages/api/livestream/token.ts
  projects/rawkode.studio/src/pages/api/webhooks/livekit.ts
  projects/rawkode.studio/src/pages/watch/[roomName].astro
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): remove rejoin logic and debug console logs
  projects/rawkode.studio/src/actions/rooms.ts
  projects/rawkode.studio/src/components/livestreams/room/RoomWrapper.tsx
  projects/rawkode.studio/src/lib/zitadel.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): remove rejoin logic and debug console logs (#617)
  projects/rawkode.studio/src/actions/rooms.ts
  projects/rawkode.studio/src/components/livestreams/room/RoomWrapper.tsx
  projects/rawkode.studio/src/lib/zitadel.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.academy/website): update technology pages with placeholder changes
  projects/rawkode.academy/website/src/components/hero/typewriter.stories.tsx
  projects/rawkode.academy/website/src/components/technology/TechnologyGrid.astro
  projects/rawkode.academy/website/src/pages/technology/[id].astro
  projects/rawkode.academy/website/src/pages/technology/index.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): update technology pages with placeholder changes (#619)
  projects/rawkode.academy/website/src/components/hero/typewriter.stories.tsx
  projects/rawkode.academy/website/src/components/technology/TechnologyGrid.astro
  projects/rawkode.academy/website/src/pages/technology/[id].astro
  projects/rawkode.academy/website/src/pages/technology/index.astro
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.academy/website): update lockfile
  projects/rawkode.academy/website/bun.lock
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/emoji-reactions): write schema to file
  projects/rawkode.academy/platform/emoji-reactions/read-model/publish.ts
Due: none

chore(CICD): add casting credits
  .github/workflows/casting-credits.yaml
Due: none

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*
