Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

website-deploy-production:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

website-deploy-merge-request:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

studio-deploy-production:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

studio-deploy-merge-request:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

infrastructure-dns-merge-request:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

feat(rawkode.studio): add meeting library and improve UI with proper layouts and theme system
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/app/pages/SimplePage.tsx
  projects/rawkode.studio/src/app/providers/ThemeProvider.tsx
  projects/rawkode.studio/src/components/layouts/AppLayout.tsx
  projects/rawkode.studio/src/components/layouts/index.ts
  projects/rawkode.studio/src/components/ui/index.ts
  projects/rawkode.studio/src/components/ui/theme-toggle.tsx
  projects/rawkode.studio/src/layouts/BaseLayout.astro
  projects/rawkode.studio/src/lib/meetings/cloudflare-realtimekit.ts
  projects/rawkode.studio/src/lib/meetings/index.ts
  projects/rawkode.studio/src/lib/meetings/types.ts
  projects/rawkode.studio/src/pages/index.astro
  projects/rawkode.studio/src/styles/global.css
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): implement Astro experimental fonts API
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/src/layouts/BaseLayout.astro
  projects/rawkode.studio/src/styles/global.css
Due: studio-deploy-production, studio-deploy-merge-request

news: i was on holiday edition
  projects/rawkode.academy/website/content/articles/news-digest-250804/index.mdx
Due: website-deploy-production, website-deploy-merge-request

news: trying to balance my snark and empathy
  projects/rawkode.academy/website/content/articles/news-digest-250804/index.mdx
Due: website-deploy-production, website-deploy-merge-request

news: don't quote editorial
  projects/rawkode.academy/website/content/articles/news-digest-250804/index.mdx
Due: website-deploy-production, website-deploy-merge-request

news: add cover
  projects/rawkode.academy/website/content/articles/news-digest-250804/cover.png
Due: website-deploy-production, website-deploy-merge-request

news: add cover to article
  projects/rawkode.academy/website/content/articles/news-digest-250804/index.mdx
Due: website-deploy-production, website-deploy-merge-request

news(rawkode.academy/website): extra snarky about broadcom (#689)
  projects/rawkode.academy/website/content/articles/news-digest-250804/cover.png
  projects/rawkode.academy/website/content/articles/news-digest-250804/index.mdx
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/zulip): disable full text search
  projects/rawkode.academy/community/zulip/README.md
  projects/rawkode.academy/community/zulip/zulip.yaml
Due: none

feat(rawkode.academy/forgepoint-astro): implement Linear-style UI with modern dark theme
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/GEMINI.md
  projects/rawkode.academy/forgepoint-astro/src/components/AppLayout.astro
  projects/rawkode.academy/forgepoint-astro/src/components/CommandPalette.tsx
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
  projects/rawkode.academy/forgepoint-astro/src/pages/index.astro
  projects/rawkode.academy/forgepoint-astro/src/pages/stories/index.astro
  projects/rawkode.academy/forgepoint-astro/src/pages/story-map.astro
Due: none

fix(rawkode.academy/forgepoint-astro): fix camera positioning in story map
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
Due: none

feat(rawkode.academy/website): implement drag-to-connect for story-to-feature relationships
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
Due: none

feat(rawkode.academy/website): implement story creation modal UI
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/.astro/data-store.json
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
  projects/rawkode.academy/forgepoint-astro/src/components/StoryCreationModal.css
  projects/rawkode.academy/forgepoint-astro/src/components/StoryCreationModal.tsx
  projects/rawkode.academy/forgepoint-astro/src/pages/story-map.astro
Due: none

refactor(rawkode.academy/forgepoint-astro): update MDX files to use personaId reference
  projects/rawkode.academy/forgepoint-astro/.astro/collections/actions.schema.json
  projects/rawkode.academy/forgepoint-astro/.astro/collections/activities.schema.json
  projects/rawkode.academy/forgepoint-astro/.astro/collections/adrs.schema.json
  projects/rawkode.academy/forgepoint-astro/.astro/collections/features.schema.json
  projects/rawkode.academy/forgepoint-astro/.astro/collections/stories.schema.json
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/.astro/data-store.json
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
  projects/rawkode.academy/forgepoint-astro/src/content/actions/click-join-community.mdx
  projects/rawkode.academy/forgepoint-astro/src/content/actions/drag-story-card.mdx
  projects/rawkode.academy/forgepoint-astro/src/content/actions/filter-by-persona.mdx
  projects/rawkode.academy/forgepoint-astro/src/content/actions/input-search-video.mdx
  projects/rawkode.academy/forgepoint-astro/src/content/actions/navigate-to-story-map.mdx
  projects/rawkode.academy/forgepoint-astro/src/content/actions/zoom-to-activity.mdx
  projects/rawkode.academy/forgepoint-astro/src/content/config.ts
  projects/rawkode.academy/forgepoint-astro/src/content/stories/deepen-expertise-advanced-tracks.mdx
  projects/rawkode.academy/forgepoint-astro/src/content/stories/discover-community-welcome.mdx
  projects/rawkode.academy/forgepoint-astro/src/content/stories/test-api-story-creation-1752890247370.mdx
  projects/rawkode.academy/forgepoint-astro/src/content/stories/view-story-map.mdx
  projects/rawkode.academy/forgepoint-astro/src/pages/features/[...slug].astro
  projects/rawkode.academy/forgepoint-astro/src/pages/prds/[...slug].astro
  projects/rawkode.academy/forgepoint-astro/src/pages/story-map.astro
Due: none

fix(rawkode.academy/forgepoint-astro): update tldraw shape text property to richText
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
Due: none

fix(rawkode.academy/forgepoint-astro): set initial camera position on tldraw mount
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
Due: none

feat(rawkode.academy/forgepoint-astro): visualize story-to-feature connections on story map
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
Due: none

docs(rawkode.academy/website): add CURRENT.md project status documentation
  projects/rawkode.academy/forgepoint-astro/CURRENT.md
Due: none

feat(rawkode.academy/forgepoint-astro): complete Linear-style UI transformation
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/src/components/AppLayout.astro
  projects/rawkode.academy/forgepoint-astro/src/components/CommandPalette.tsx
  projects/rawkode.academy/forgepoint-astro/src/components/CommandPaletteWrapper.tsx
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
  projects/rawkode.academy/forgepoint-astro/src/pages/activities/index.astro
  projects/rawkode.academy/forgepoint-astro/src/pages/adrs/index.astro
  projects/rawkode.academy/forgepoint-astro/src/pages/features/index.astro
  projects/rawkode.academy/forgepoint-astro/src/pages/index.astro
  projects/rawkode.academy/forgepoint-astro/src/pages/personas/index.astro
  projects/rawkode.academy/forgepoint-astro/src/pages/prds/index.astro
  projects/rawkode.academy/forgepoint-astro/src/pages/stories/index.astro
  projects/rawkode.academy/forgepoint-astro/src/styles/global.css
Due: none

fix(rawkode.academy/website): fix interactive story map card rendering issue
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
  projects/rawkode.academy/forgepoint-astro/src/pages/activities/[...slug].astro
  projects/rawkode.academy/forgepoint-astro/src/pages/adrs/[...slug].astro
  projects/rawkode.academy/forgepoint-astro/src/pages/personas/[...slug].astro
  projects/rawkode.academy/forgepoint-astro/src/pages/stories/[...slug].astro
  projects/rawkode.academy/forgepoint-astro/src/pages/story-map.astro
Due: none

fix(rawkode.academy/forgepoint-astro): add proper timing delays for tldraw initialization
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
Due: none

fix(rawkode.academy/forgepoint-astro): add missing featureId to Story interface
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
Due: none

refactor(rawkode.academy/forgepoint-astro): solidify content schemas with proper references
  projects/rawkode.academy/forgepoint-astro/.astro/content-modules.mjs
  projects/rawkode.academy/forgepoint-astro/src/components/InteractiveStoryMap.tsx
  projects/rawkode.academy/forgepoint-astro/src/pages/api/stories.ts
  projects/rawkode.academy/forgepoint-astro/src/pages/api/stories/[...slug].ts
  projects/rawkode.academy/forgepoint-astro/src/pages/features/[...slug].astro
  projects/rawkode.academy/forgepoint-astro/src/pages/stories/[...slug].astro
Due: none

feat: add claude agent web
  .github/workflows/claude-dispatch.yml
Due: none

article(rawkode.academy/website): wassette
  projects/rawkode.academy/website/.claude/settings.local.json
  projects/rawkode.academy/website/content/articles/wassette/cover.png
  projects/rawkode.academy/website/content/articles/wassette/index.md
  projects/rawkode.academy/website/src/components/articles/Resources.astro
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/pages/read/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.studio): enhance MeetingDetails with comprehensive RealtimeKit API integration
  projects/rawkode.studio/src/components/app/pages/MeetingDetails.tsx
  projects/rawkode.studio/src/lib/realtime-kit/client.ts
  projects/rawkode.studio/src/lib/realtime-kit/index.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/livestream.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/participants.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/recordings.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/session.ts
  projects/rawkode.studio/src/pages/api/sessions/[id]/chat.ts
  projects/rawkode.studio/src/pages/api/sessions/[id]/summary.ts
  projects/rawkode.studio/src/pages/api/sessions/[id]/transcript.ts
Due: studio-deploy-production, studio-deploy-merge-request

course(rawkode.academy/website): adding latest zitadel modules
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/09-authentication-methods.mdx
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/10-social-login-providers.mdx
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.studio): update dependencies
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.academy/tasks/video-importer): support updating video collateral
  projects/rawkode.academy/tasks/video-importer/.envrc
  projects/rawkode.academy/tasks/video-importer/.envrc.example
  projects/rawkode.academy/tasks/video-importer/README.md
  projects/rawkode.academy/tasks/video-importer/descript_to_r2.py
Due: none

feat(rawkode.academy): claude slash command for new services
  projects/rawkode.academy/.claude/slash-commands/create-graphql-service.md
Due: none

fix: pkce demo
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/06-first-application.mdx
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/examples/oauth-pkce-demo/.webcontainer.json
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/examples/oauth-pkce-demo/README.md
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/examples/oauth-pkce-demo/bun.lock
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/examples/oauth-pkce-demo/package.json
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/examples/oauth-pkce-demo/public/app.js
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/examples/oauth-pkce-demo/public/index.html
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/examples/oauth-pkce-demo/public/styles.css
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/examples/oauth-pkce-demo/server.js
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/examples/oauth-pkce-demo/server.ts
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/examples/oauth-pkce-demo/tsconfig.json
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.studio): implement complete video meeting platform
  projects/rawkode.studio/CLAUDE.md
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/biome.json
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/app/providers/AuthProvider.tsx
  projects/rawkode.studio/src/app/providers/ThemeProvider.tsx
  projects/rawkode.studio/src/app/providers/index.ts
  projects/rawkode.studio/src/components/app/App.tsx
  projects/rawkode.studio/src/components/app/components/ProtectedRoute.tsx
  projects/rawkode.studio/src/components/app/components/RouteGuard.tsx
  projects/rawkode.studio/src/components/app/components/ShareMeetingDialog.tsx
  projects/rawkode.studio/src/components/app/components/VideoMeeting.tsx
  projects/rawkode.studio/src/components/app/pages/Dashboard.tsx
  projects/rawkode.studio/src/components/app/pages/MeetingDetails.tsx
  projects/rawkode.studio/src/components/app/pages/MeetingRoom.tsx
  projects/rawkode.studio/src/components/layouts/AppLayout.tsx
  projects/rawkode.studio/src/components/layouts/index.ts
  projects/rawkode.studio/src/components/meeting/MeetingJoin.tsx
  projects/rawkode.studio/src/components/meeting/MeetingProvider.tsx
  projects/rawkode.studio/src/components/ui/dialog.tsx
  projects/rawkode.studio/src/components/ui/input.tsx
  projects/rawkode.studio/src/components/ui/label.tsx
  projects/rawkode.studio/src/lib/auth/security.ts
  projects/rawkode.studio/src/lib/meeting-utils.ts
  projects/rawkode.studio/src/lib/realtime-kit/client.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/chat.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/participants.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/public.ts
  projects/rawkode.studio/src/styles/global.css
  projects/rawkode.studio/wrangler.jsonc
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): comprehensive documentation and UI improvements
  projects/rawkode.studio/CLAUDE.md
  projects/rawkode.studio/src/components/app/App.tsx
  projects/rawkode.studio/src/components/app/components/Layout.tsx
  projects/rawkode.studio/src/components/app/pages/Dashboard.tsx
  projects/rawkode.studio/src/components/ui/dialog.tsx
  projects/rawkode.studio/src/components/ui/dropdown-menu.tsx
  projects/rawkode.studio/src/components/ui/theme-toggle.tsx
Due: studio-deploy-production, studio-deploy-merge-request

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*
