Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*

fix(rawkode.academy/website): fix HTML sanitization vulnerability in FAQ accordion
  projects/rawkode.academy/website/src/components/faq/accordion-wrapper.vue
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): replace Flowbite FAQ accordion with Vue component
  projects/rawkode.academy/website/src/components/faq/consulting-list.vue
  projects/rawkode.academy/website/src/components/faq/list.vue
  projects/rawkode.academy/website/src/components/faq/training-list.vue
  projects/rawkode.academy/website/src/components/ui/accordion.vue
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): fix FAQ accordion security and functionality issues
  projects/rawkode.academy/website/src/components/faq/accordion-wrapper.vue
  projects/rawkode.academy/website/src/components/faq/consulting-list.vue
  projects/rawkode.academy/website/src/components/faq/list.vue
  projects/rawkode.academy/website/src/components/faq/training-list.vue
  projects/rawkode.academy/website/src/components/ui/accordion.vue
  projects/rawkode.academy/website/src/pages/organizations/consulting/index.astro
  projects/rawkode.academy/website/src/pages/organizations/partnerships/index.astro
  projects/rawkode.academy/website/src/pages/organizations/training/index.astro
Due: website-deploy-production, website-deploy-merge-request

chore: update dagger configurations and remove envrc
  .github/workflows/casting-credits.yaml
  config/.gitignore
  config/dagger.json
  dagger/bun/.gitignore
  dagger/bun/dagger.json
  dagger/bun/src/index.ts
  dagger/cloudflare/.gitignore
  dagger/cloudflare/dagger.json
  dagger/cloudflare/src/index.ts
  dagger/github/.gitignore
  dagger/github/dagger.json
  projects/rawkode.academy/platform/casting-credits/.dagger/bun.lockb
  projects/rawkode.academy/platform/casting-credits/.dagger/src/index.ts
  projects/rawkode.academy/platform/casting-credits/.envrc
  projects/rawkode.academy/platform/casting-credits/README.md
  projects/rawkode.academy/platform/casting-credits/bun.lock
  projects/rawkode.academy/platform/casting-credits/dagger.json
  projects/rawkode.academy/platform/casting-credits/package.json
Due: none

feat(rawkode.academy/playground): implement RKA CLI for local learning environments
  projects/rawkode.academy/playground/rka/Cargo.lock
  projects/rawkode.academy/playground/rka/Cargo.toml
  projects/rawkode.academy/playground/rka/LICENSE
  projects/rawkode.academy/playground/rka/README.md
  projects/rawkode.academy/playground/rka/SUMMARY.md
  projects/rawkode.academy/playground/rka/install.sh
  projects/rawkode.academy/playground/rka/src/api/mod.rs
  projects/rawkode.academy/playground/rka/src/cli/completion.rs
  projects/rawkode.academy/playground/rka/src/cli/destroy.rs
  projects/rawkode.academy/playground/rka/src/cli/doctor.rs
  projects/rawkode.academy/playground/rka/src/cli/exec.rs
  projects/rawkode.academy/playground/rka/src/cli/list.rs
  projects/rawkode.academy/playground/rka/src/cli/logs.rs
  projects/rawkode.academy/playground/rka/src/cli/mod.rs
  projects/rawkode.academy/playground/rka/src/cli/port_forward.rs
  projects/rawkode.academy/playground/rka/src/cli/start.rs
  projects/rawkode.academy/playground/rka/src/cli/status.rs
  projects/rawkode.academy/playground/rka/src/cli/stop.rs
  projects/rawkode.academy/playground/rka/src/main.rs
  projects/rawkode.academy/playground/rka/src/state/mod.rs
  projects/rawkode.academy/playground/rka/src/state/tests.rs
  projects/rawkode.academy/playground/rka/src/utils/mod.rs
  projects/rawkode.academy/playground/rka/src/vm/docker.rs
  projects/rawkode.academy/playground/rka/src/vm/lima.rs
  projects/rawkode.academy/playground/rka/src/vm/mod.rs
  projects/rawkode.academy/playground/rka/tests/integration_test.rs
Due: none

fix(rawkode.academy/platform/casting-credits): test without node_modules cache
  projects/rawkode.academy/platform/casting-credits/.dagger/src/index.ts
  projects/rawkode.academy/platform/casting-credits/.dagger/tsconfig.json
  projects/rawkode.academy/platform/casting-credits/dagger.json
  projects/rawkode.academy/platform/casting-credits/data-model/migrations/meta/0000_snapshot.json
  projects/rawkode.academy/platform/casting-credits/data-model/migrations/meta/_journal.json
  projects/rawkode.academy/platform/casting-credits/read-model/worker-configuration.d.ts
  projects/rawkode.academy/platform/casting-credits/tests/integration/graphql-federation.test.ts
  projects/rawkode.academy/platform/casting-credits/tests/integration/graphql-validation.test.ts
  projects/rawkode.academy/platform/casting-credits/tsconfig.json
Due: none

feat(rawkode.academy/website): add Klustered signup page
  projects/rawkode.academy/website/src/actions/index.ts
  projects/rawkode.academy/website/src/actions/klustered.ts
  projects/rawkode.academy/website/src/components/footer/Footer.astro
  projects/rawkode.academy/website/src/components/sidebar/index.vue
  projects/rawkode.academy/website/src/pages/api/sitemap-pages.json.ts
  projects/rawkode.academy/website/src/pages/klustered/index.astro
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/platform/emoji-reactions): ensure env is access via this
  projects/rawkode.academy/platform/emoji-reactions/write-model/src/reactToContent.ts
Due: none

fix(rawkode.academy/platform/emoji-reactions): nodejs_compat and database setup
  projects/rawkode.academy/platform/emoji-reactions/read-model/wrangler.jsonc
Due: none

fix(rawkode.academy/platform/emoji-reactions): ensure migrations run
  .github/workflows/emoji-reactions.yaml
  projects/rawkode.academy/platform/emoji-reactions/read-model/wrangler.jsonc
Due: none

fix(rawkode.academy/platform/emoji-reactions): ensure write-model can access d1
  projects/rawkode.academy/platform/emoji-reactions/read-model/publish.ts
  projects/rawkode.academy/platform/emoji-reactions/write-model/wrangler.jsonc
Due: none

fix(rawkode.academy/platform/emoji-reactions): fix graphql schema generation
  projects/rawkode.academy/platform/emoji-reactions/read-model/publish.ts
Due: none

feat(rawkode.academy): integrate emoji reactions with website
  projects/rawkode.academy/platform/emoji-reactions/write-model/src/index.ts
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/actions/index.ts
  projects/rawkode.academy/website/src/actions/reaction.ts
  projects/rawkode.academy/website/src/components/video/reactions.vue
  projects/rawkode.academy/website/src/pages/api/auth/me.ts
  projects/rawkode.academy/website/worker-configuration.d.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/platform/emoji-reactions): add JWT verification for security
  projects/rawkode.academy/platform/emoji-reactions/.envrc
  projects/rawkode.academy/platform/emoji-reactions/bun.lock
  projects/rawkode.academy/platform/emoji-reactions/package.json
  projects/rawkode.academy/platform/emoji-reactions/write-model/src/index.ts
  projects/rawkode.academy/platform/emoji-reactions/write-model/wrangler.jsonc
  projects/rawkode.academy/website/src/actions/reaction.ts
  projects/rawkode.academy/website/src/components/ui/accordion.vue
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy): address PR review comments and add emoji picker
  projects/rawkode.academy/platform/emoji-reactions/write-model/src/index.ts
  projects/rawkode.academy/website/src/components/video/reactions.vue
  projects/rawkode.academy/website/src/pages/api/auth/me.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy): always show specific 4 emoji buttons
  projects/rawkode.academy/website/src/components/video/reactions.vue
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy): migrate emoji reactions from Vue to React
  dagger/bun/src/index.ts
  projects/rawkode.academy/CLAUDE.md
  projects/rawkode.academy/website/.dagger/src/index.ts
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/actions/reaction.ts
  projects/rawkode.academy/website/src/components/command-palette/index.tsx
  projects/rawkode.academy/website/src/components/video/VideoReactions.tsx
  projects/rawkode.academy/website/src/components/video/reactions.vue
  projects/rawkode.academy/website/src/components/video/video-feed.astro
  projects/rawkode.academy/website/src/lib/fetch-videos.ts
  projects/rawkode.academy/website/src/pages/api/comments/[videoId].ts
  projects/rawkode.academy/website/src/pages/changelog/index.astro
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
  projects/rawkode.academy/website/src/utils/error-handler.ts
  projects/rawkode.academy/website/vitest.config.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): don't validate SEO on build, we'll add tests for that
  projects/rawkode.academy/website/package.json
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): ensure build has dependencies
  dagger/bun/src/index.ts
  projects/rawkode.academy/website/.dagger/.gitignore
  projects/rawkode.academy/website/.dagger/src/index.ts
  projects/rawkode.academy/website/.dagger/tsconfig.json
  projects/rawkode.academy/website/dagger.json
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): use service binding for emoji reactions
  projects/rawkode.academy/website/.dagger/src/index.ts
  projects/rawkode.academy/website/.dagger/tsconfig.json
  projects/rawkode.academy/website/dagger.json
  projects/rawkode.academy/website/src/actions/reaction.ts
  projects/rawkode.academy/website/src/components/video/VideoReactions.tsx
  projects/rawkode.academy/website/src/components/video/reactions.vue
  projects/rawkode.academy/website/src/env.d.ts
  projects/rawkode.academy/website/worker-configuration.d.ts
  projects/rawkode.academy/website/wrangler.jsonc
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.studio): improve chat and participants layout balance
  projects/rawkode.studio/src/components/livestreams/room/chat/Chat.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/LiveKitRoom.tsx
Due: studio-deploy-production, studio-deploy-merge-request
