Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*

feat(rawkode.studio): comprehensive documentation and UI improvements
  projects/rawkode.studio/CLAUDE.md
  projects/rawkode.studio/src/components/app/App.tsx
  projects/rawkode.studio/src/components/app/components/Layout.tsx
  projects/rawkode.studio/src/components/app/pages/Dashboard.tsx
  projects/rawkode.studio/src/components/ui/dialog.tsx
  projects/rawkode.studio/src/components/ui/dropdown-menu.tsx
  projects/rawkode.studio/src/components/ui/theme-toggle.tsx
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): add missing @radix-ui/react-dropdown-menu dependency
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
Due: studio-deploy-production, studio-deploy-merge-request

chore(rawkode.academy/website): bump all sorts of deps
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): migrate to Astro Font system for optimized font loading
  projects/rawkode.academy/website/.claude/settings.local.json
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/biome.json
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/public/fonts/monasans.woff2
  projects/rawkode.academy/website/public/fonts/monaspaceneon.woff
  projects/rawkode.academy/website/public/fonts/poppins-regular.woff
  projects/rawkode.academy/website/public/fonts/poppins-semibold.woff
  projects/rawkode.academy/website/public/fonts/quicksand-bold.woff
  projects/rawkode.academy/website/public/fonts/quicksand-regular.woff
  projects/rawkode.academy/website/src/components/command-palette/styles.css
  projects/rawkode.academy/website/src/components/common/FeaturedContent.astro
  projects/rawkode.academy/website/src/components/courses/CourseDetailHero.vue
  projects/rawkode.academy/website/src/components/courses/ZitadelFocusedHero.vue
  projects/rawkode.academy/website/src/components/hero/typewriter.tsx
  projects/rawkode.academy/website/src/components/html/head.astro
  projects/rawkode.academy/website/src/pages/courses/[...slug].astro
  projects/rawkode.academy/website/src/pages/courses/index.astro
  projects/rawkode.academy/website/src/pages/technology/[id].astro
  projects/rawkode.academy/website/src/styles/global.css
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): fix GitHub avatar URLs site-wide
  projects/rawkode.academy/website/src/components/articles/ArticleCard.vue
  projects/rawkode.academy/website/src/components/articles/featured/Featured.astro
  projects/rawkode.academy/website/src/components/common/AuthorAvatarGroup.vue
  projects/rawkode.academy/website/src/pages/adrs/[...slug].astro
  projects/rawkode.academy/website/src/pages/adrs/index.astro
  projects/rawkode.academy/website/src/pages/changelog/index.astro
  projects/rawkode.academy/website/src/pages/read/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.studio): comprehensive meeting details UI redesign and security improvements
  projects/rawkode.studio/biome.json
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/components/app/App.tsx
  projects/rawkode.studio/src/components/app/components/Layout.tsx
  projects/rawkode.studio/src/components/app/pages/MeetingDetails.tsx
  projects/rawkode.studio/src/components/ui/dropdown-menu.tsx
  projects/rawkode.studio/src/lib/auth/auth-utils.ts
  projects/rawkode.studio/src/pages/api/meetings.ts
  projects/rawkode.studio/src/pages/api/meetings/[id].ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/chat.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/livestream.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/participants.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/recordings.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/session.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/stop.ts
  projects/rawkode.studio/src/pages/api/sessions/[id]/chat.ts
  projects/rawkode.studio/src/pages/api/sessions/[id]/summary.ts
  projects/rawkode.studio/src/pages/api/sessions/[id]/transcript.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): simplify meeting details authentication and update dependencies
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/components/app/pages/MeetingDetails.tsx
  projects/rawkode.studio/src/pages/api/meetings.ts
  projects/rawkode.studio/src/pages/api/meetings/[id].ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/chat.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/livestream.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/participants.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/recordings.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/session.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/stop.ts
  projects/rawkode.studio/src/pages/api/sessions/[id]/chat.ts
  projects/rawkode.studio/src/pages/api/sessions/[id]/summary.ts
  projects/rawkode.studio/src/pages/api/sessions/[id]/transcript.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): comprehensive dark mode fixes and meeting session simplification
  projects/rawkode.studio/CLAUDE.md
  projects/rawkode.studio/src/components/app/components/ShareMeetingDialog.tsx
  projects/rawkode.studio/src/components/app/pages/Dashboard.tsx
  projects/rawkode.studio/src/components/app/pages/MeetingDetails.tsx
  projects/rawkode.studio/src/components/app/pages/MeetingRoom.tsx
  projects/rawkode.studio/src/components/meeting/MeetingJoin.tsx
  projects/rawkode.studio/src/components/ui/badge.tsx
  projects/rawkode.studio/src/components/ui/button.tsx
  projects/rawkode.studio/src/components/ui/card.tsx
  projects/rawkode.studio/src/components/ui/dialog.tsx
  projects/rawkode.studio/src/components/ui/dropdown-menu.tsx
  projects/rawkode.studio/src/components/ui/input.tsx
  projects/rawkode.studio/src/components/ui/label.tsx
  projects/rawkode.studio/src/layouts/BaseLayout.astro
  projects/rawkode.studio/src/lib/auth/security.ts
  projects/rawkode.studio/src/lib/meeting-session.ts
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): resolve getMeetingSession TypeError and add missing timestamp field
  projects/rawkode.studio/src/components/app/pages/MeetingRoom.tsx
  projects/rawkode.studio/src/lib/meeting-session.ts
Due: studio-deploy-production, studio-deploy-merge-request

chore: upgrade zulip
  projects/rawkode.academy/community/zulip/README.md
  projects/rawkode.academy/community/zulip/zulip.yaml
  projects/rawkode.academy/website/.claude/settings.local.json
Due: website-deploy-production, website-deploy-merge-request

feat:(rawkode.academy/tasks): metadata related
  projects/rawkode.academy/tasks/.claude/settings.local.json
  projects/rawkode.academy/tasks/video-categorizer/.envrc
  projects/rawkode.academy/tasks/video-categorizer/.gitignore
  projects/rawkode.academy/tasks/video-categorizer/README.md
  projects/rawkode.academy/tasks/video-categorizer/categorize_videos.py
  projects/rawkode.academy/tasks/video-categorizer/delete_from_r2.py
  projects/rawkode.academy/tasks/video-categorizer/devenv.lock
  projects/rawkode.academy/tasks/video-categorizer/devenv.nix
  projects/rawkode.academy/tasks/video-categorizer/devenv.yaml
  projects/rawkode.academy/tasks/video-categorizer/pyproject.toml
  projects/rawkode.academy/tasks/video-categorizer/uv.lock
  projects/rawkode.academy/tasks/video-importer/youtube_to_r2.py
Due: none

feat(rawkode.academy/website): use live collections to avoid rebuild on new content
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/components/video/RelatedVideos.astro
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/live.config.ts
  projects/rawkode.academy/website/src/pages/api/comments/[videoId].ts
  projects/rawkode.academy/website/src/pages/api/feeds/all.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/all.xml.ts
  projects/rawkode.academy/website/src/pages/api/feeds/videos.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/videos.xml.ts
  projects/rawkode.academy/website/src/pages/video-sitemap.xml.ts
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
  projects/rawkode.academy/website/src/pages/watch/index.astro
Due: website-deploy-production, website-deploy-merge-request

Use Astro Live Collections to Support New Content Without Rebuild (#709)
  projects/rawkode.academy/tasks/.claude/settings.local.json
  projects/rawkode.academy/tasks/video-categorizer/.envrc
  projects/rawkode.academy/tasks/video-categorizer/.gitignore
  projects/rawkode.academy/tasks/video-categorizer/README.md
  projects/rawkode.academy/tasks/video-categorizer/categorize_videos.py
  projects/rawkode.academy/tasks/video-categorizer/delete_from_r2.py
  projects/rawkode.academy/tasks/video-categorizer/devenv.lock
  projects/rawkode.academy/tasks/video-categorizer/devenv.nix
  projects/rawkode.academy/tasks/video-categorizer/devenv.yaml
  projects/rawkode.academy/tasks/video-categorizer/pyproject.toml
  projects/rawkode.academy/tasks/video-categorizer/uv.lock
  projects/rawkode.academy/tasks/video-importer/youtube_to_r2.py
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/components/video/RelatedVideos.astro
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/live.config.ts
  projects/rawkode.academy/website/src/pages/api/comments/[videoId].ts
  projects/rawkode.academy/website/src/pages/api/feeds/all.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/all.xml.ts
  projects/rawkode.academy/website/src/pages/api/feeds/videos.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/videos.xml.ts
  projects/rawkode.academy/website/src/pages/video-sitemap.xml.ts
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
  projects/rawkode.academy/website/src/pages/watch/index.astro
Due: website-deploy-production, website-deploy-merge-request

Revert "Use Astro Live Collections to Support New Content Without Rebuild (#709)"
  projects/rawkode.academy/tasks/.claude/settings.local.json
  projects/rawkode.academy/tasks/video-categorizer/.envrc
  projects/rawkode.academy/tasks/video-categorizer/.gitignore
  projects/rawkode.academy/tasks/video-categorizer/README.md
  projects/rawkode.academy/tasks/video-categorizer/categorize_videos.py
  projects/rawkode.academy/tasks/video-categorizer/delete_from_r2.py
  projects/rawkode.academy/tasks/video-categorizer/devenv.lock
  projects/rawkode.academy/tasks/video-categorizer/devenv.nix
  projects/rawkode.academy/tasks/video-categorizer/devenv.yaml
  projects/rawkode.academy/tasks/video-categorizer/pyproject.toml
  projects/rawkode.academy/tasks/video-categorizer/uv.lock
  projects/rawkode.academy/tasks/video-importer/youtube_to_r2.py
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/components/video/RelatedVideos.astro
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/live.config.ts
  projects/rawkode.academy/website/src/pages/api/comments/[videoId].ts
  projects/rawkode.academy/website/src/pages/api/feeds/all.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/all.xml.ts
  projects/rawkode.academy/website/src/pages/api/feeds/videos.atom.ts
  projects/rawkode.academy/website/src/pages/api/feeds/videos.xml.ts
  projects/rawkode.academy/website/src/pages/video-sitemap.xml.ts
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
  projects/rawkode.academy/website/src/pages/watch/index.astro
Due: website-deploy-production, website-deploy-merge-request

chore: static build
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/pages/api/comments/[videoId].ts
Due: website-deploy-production, website-deploy-merge-request

feat: cloudflare r2 data analytics with apache iceberg
  projects/rawkode.academy/analytics/.envrc
  projects/rawkode.academy/analytics/.gitignore
  projects/rawkode.academy/analytics/bun.lock
  projects/rawkode.academy/analytics/devenv.lock
  projects/rawkode.academy/analytics/devenv.nix
  projects/rawkode.academy/analytics/devenv.yaml
  projects/rawkode.academy/analytics/package.json
  projects/rawkode.academy/analytics/pipelines/README.md
  projects/rawkode.academy/analytics/pipelines/web-events/README.md
  projects/rawkode.academy/analytics/pipelines/web-events/transform.sql
Due: none

chore: support local video imports due to youtube download crackdowns
  projects/rawkode.academy/tasks/video-importer/youtube_to_r2.py
Due: none

feat(rawkode.studio): Add 4K recording support and high-quality video configurations for podcasts and livestreams (#710)
  projects/rawkode.studio/package-lock.json
  projects/rawkode.studio/src/components/app/pages/Dashboard.tsx
  projects/rawkode.studio/src/lib/realtime-kit/client.ts
  projects/rawkode.studio/src/pages/api/meetings/high-quality.ts
  projects/rawkode.studio/src/pages/api/meetings/livestream.ts
  projects/rawkode.studio/src/pages/api/meetings/podcast.ts
Due: studio-deploy-production, studio-deploy-merge-request

fix(dashboard,client): prevent livestream-stop log spam and run cleanup once
  projects/rawkode.studio/.env.example
  projects/rawkode.studio/.gitignore
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package-lock.json
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/components/app/components/ShareMeetingDialog.tsx
  projects/rawkode.studio/src/components/app/components/VideoMeeting.tsx
  projects/rawkode.studio/src/components/app/pages/Dashboard.tsx
  projects/rawkode.studio/src/components/meeting/MeetingJoin.tsx
  projects/rawkode.studio/src/components/ui/dialog.tsx
  projects/rawkode.studio/src/components/ui/dropdown-menu.tsx
  projects/rawkode.studio/src/components/ui/label.tsx
  projects/rawkode.studio/src/lib/auth/security.ts
  projects/rawkode.studio/src/lib/meeting-session.ts
  projects/rawkode.studio/src/lib/meeting-utils.ts
  projects/rawkode.studio/src/lib/realtime-kit/client.ts
  projects/rawkode.studio/src/pages/api/maintenance/cleanup.ts
  projects/rawkode.studio/src/pages/api/meetings/[id]/participants.ts
  projects/rawkode.studio/src/pages/api/meetings/high-quality.ts
  projects/rawkode.studio/src/pages/api/meetings/livestream.ts
  projects/rawkode.studio/src/pages/api/meetings/podcast.ts
  projects/rawkode.studio/src/pages/api/sessions/[id]/chat.ts
Due: studio-deploy-production, studio-deploy-merge-request

chore(biome,utils): migrate Biome schema and apply lint fix for clipboard
  projects/rawkode.studio/biome.json
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/lib/meeting-utils.ts
Due: studio-deploy-production, studio-deploy-merge-request

Implement ATProto conformance-complete Cloudflare PDS
  projects/rawkode.social/pds/CONFORMANCE.md
  projects/rawkode.social/pds/README.md
  projects/rawkode.social/pds/bun.lock
  projects/rawkode.social/pds/bunfig.toml
  projects/rawkode.social/pds/drizzle.config.ts
  projects/rawkode.social/pds/drizzle/0000_initial.sql
  projects/rawkode.social/pds/drizzle/0001_repo_events.sql
  projects/rawkode.social/pds/package.json
  projects/rawkode.social/pds/src/__tests__/auth.test.ts
  projects/rawkode.social/pds/src/auth.ts
  projects/rawkode.social/pds/src/db/schema.ts
  projects/rawkode.social/pds/src/index.ts
  projects/rawkode.social/pds/src/storage.ts
  projects/rawkode.social/pds/src/types/multiformats.d.ts
  projects/rawkode.social/pds/tsconfig.json
  projects/rawkode.social/pds/wrangler.toml
Due: none

Add show metadata to video collection entries
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
  projects/rawkode.academy/website/src/types/video.ts
Due: website-deploy-production, website-deploy-merge-request

Add show data to video collection entries (#713)
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
  projects/rawkode.academy/website/src/types/video.ts
Due: website-deploy-production, website-deploy-merge-request

Remove Storybook build retries
  .github/workflows/rawkode-academy.yaml
Due: none

Remove Storybook build retries (#715)
  .github/workflows/rawkode-academy.yaml
Due: none

fix(shows): address astro check feedback
  projects/rawkode.academy/website/src/pages/shows/index.astro
Due: website-deploy-production, website-deploy-merge-request

fix(website): stabilise shows page state handling
  projects/rawkode.academy/website/src/pages/shows/index.astro
Due: website-deploy-production, website-deploy-merge-request
