Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*

Adding duration field to courseModules schema
  projects/rawkode.academy/website/src/content/config.ts
Due: website-deploy-production, website-deploy-merge-request

Creating a Zitadel-focused hero component
  projects/rawkode.academy/website/src/components/courses/ZitadelFocusedHero.vue
Due: website-deploy-production, website-deploy-merge-request

Fixing the courses page to work without technologies field
  projects/rawkode.academy/website/src/pages/courses/index.astro
Due: website-deploy-production, website-deploy-merge-request

Removing estimatedHours since it's no longer used
  projects/rawkode.academy/website/src/pages/courses/index.astro
Due: website-deploy-production, website-deploy-merge-request

Removing inaccurate information and fixing CTAs
  projects/rawkode.academy/website/src/components/courses/ZitadelFocusedHero.vue
Due: website-deploy-production, website-deploy-merge-request

Updating courses page to focus on Zitadel course
  projects/rawkode.academy/website/src/pages/courses/index.astro
Due: website-deploy-production, website-deploy-merge-request

Creating a test file to verify container changes
  test-file.txt
Due: none

Fixing SVG syntax error and updating to dark theme
  projects/rawkode.academy/website/src/components/courses/ZitadelFocusedHero.vue
Due: website-deploy-production, website-deploy-merge-request

Updating to ensure dark theme consistency
  projects/rawkode.academy/website/src/pages/courses/index.astro
Due: website-deploy-production, website-deploy-merge-request

Adding duration display to course modules
  projects/rawkode.academy/website/src/components/courses/CourseModules.astro
Due: website-deploy-production, website-deploy-merge-request

Updating course detail page with new hero section
  projects/rawkode.academy/website/src/pages/courses/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

Creating a hero component for individual course pages
  projects/rawkode.academy/website/src/components/courses/CourseDetailHero.vue
Due: website-deploy-production, website-deploy-merge-request

Creating a compact signup form for the hero section
  projects/rawkode.academy/website/src/components/courses/CourseSignupFormCompact.vue
Due: website-deploy-production, website-deploy-merge-request

Adding duration to module page header
  projects/rawkode.academy/website/src/pages/courses/[course]/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

Fixing the form to use Astro Actions instead of REST API
  projects/rawkode.academy/website/src/components/courses/CourseSignupFormCompact.vue
Due: website-deploy-production, website-deploy-merge-request

Redesigning left side with better information hierarchy
  projects/rawkode.academy/website/src/components/courses/CourseDetailHero.vue
Due: website-deploy-production, website-deploy-merge-request

Reverting to 50/50 split with centered title
  projects/rawkode.academy/website/src/components/courses/CourseDetailHero.vue
Due: website-deploy-production, website-deploy-merge-request

Using compact signup form in hero section
  projects/rawkode.academy/website/src/pages/courses/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

Creating Astro wrapper for compact signup form
  projects/rawkode.academy/website/src/components/courses/CourseSignupFormCompact.astro
Due: website-deploy-production, website-deploy-merge-request

Redesigning hero with full-width title and 65/35 split
  projects/rawkode.academy/website/src/components/courses/CourseDetailHero.vue
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.studio): deployment
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
Due: studio-deploy-production, studio-deploy-merge-request

chore: fix js / console errors
  projects/rawkode.academy/website/public/_headers
  projects/rawkode.academy/website/src/components/html/head.astro
  projects/rawkode.academy/website/src/components/posthog/index.astro
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): use correct description for article types
  projects/rawkode.academy/website/src/utils/article-types.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): re-adding astro video (??)
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel/07-astro-integration.mdx
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add cosmo course
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel.mdx
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel.png
  projects/rawkode.academy/website/content/courses/graphql-federation-wundergraph-cosmo.mdx
  projects/rawkode.academy/website/content/courses/graphql-federation-wundergraph-cosmo.png
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add cosmo course (#683)
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel.mdx
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel.png
  projects/rawkode.academy/website/content/courses/graphql-federation-wundergraph-cosmo.mdx
  projects/rawkode.academy/website/content/courses/graphql-federation-wundergraph-cosmo.png
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.studio): update astro to 5.12.5
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): major refactor with React app integration and auth system
  projects/rawkode.studio/.dagger/package.json
  projects/rawkode.studio/.dagger/src/index.ts
  projects/rawkode.studio/.dagger/tsconfig.json
  projects/rawkode.studio/README.md
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/biome.json
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/dagger.json
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/app/App.tsx
  projects/rawkode.studio/src/app/pages/SimplePage.tsx
  projects/rawkode.studio/src/app/providers/AuthProvider.tsx
  projects/rawkode.studio/src/app/providers/ThemeProvider.tsx
  projects/rawkode.studio/src/app/providers/index.ts
  projects/rawkode.studio/src/components/ui/button.tsx
  projects/rawkode.studio/src/components/ui/dialog.tsx
  projects/rawkode.studio/src/components/ui/dropdown-menu.tsx
  projects/rawkode.studio/src/components/ui/index.ts
  projects/rawkode.studio/src/env.d.ts
  projects/rawkode.studio/src/lib/auth.ts
  projects/rawkode.studio/src/lib/utils.ts
  projects/rawkode.studio/src/middleware/index.ts
  projects/rawkode.studio/src/pages/api/auth/callback.ts
  projects/rawkode.studio/src/pages/api/auth/login.ts
  projects/rawkode.studio/src/pages/api/auth/logout.ts
  projects/rawkode.studio/src/pages/index.astro
  projects/rawkode.studio/src/styles/global.css
  projects/rawkode.studio/tsconfig.json
  projects/rawkode.studio/wrangler.jsonc
Due: studio-deploy-production, studio-deploy-merge-request

chore(rawkode.studio): update bun.lock
  projects/rawkode.studio/bun.lock
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): update astro configuration
  projects/rawkode.studio/astro.config.ts
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkode.studio): add meeting library and improve UI with proper layouts and theme system
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/app/pages/SimplePage.tsx
  projects/rawkode.studio/src/app/providers/ThemeProvider.tsx
  projects/rawkode.studio/src/components/layouts/AppLayout.tsx
  projects/rawkode.studio/src/components/layouts/index.ts
  projects/rawkode.studio/src/components/ui/index.ts
  projects/rawkode.studio/src/components/ui/theme-toggle.tsx
  projects/rawkode.studio/src/layouts/BaseLayout.astro
  projects/rawkode.studio/src/lib/meetings/cloudflare-realtimekit.ts
  projects/rawkode.studio/src/lib/meetings/index.ts
  projects/rawkode.studio/src/lib/meetings/types.ts
  projects/rawkode.studio/src/pages/index.astro
  projects/rawkode.studio/src/styles/global.css
Due: studio-deploy-production, studio-deploy-merge-request
