Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request

website-deploy-production:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

website-deploy-merge-request:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

studio-deploy-production:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
  before_script:
  - apk add ca-certificates curl git
  ...

studio-deploy-merge-request:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
  before_script:
  - apk add ca-certificates curl git
  ...

chore(readme): switch to asciidoc
  README.adoc
  README.md
Due: none

feat(gitlab): initial automate groups, projects, labels, and boards
  dagger.json
  infrastructure/code.rawkode.academy/configuration/.envrc
  infrastructure/code.rawkode.academy/configuration/.gitignore
  infrastructure/code.rawkode.academy/configuration/Justfile
  infrastructure/code.rawkode.academy/configuration/biome.json
  infrastructure/code.rawkode.academy/configuration/bun.lock
  infrastructure/code.rawkode.academy/configuration/cdktf.json
  infrastructure/code.rawkode.academy/configuration/devenv.lock
  infrastructure/code.rawkode.academy/configuration/devenv.nix
  infrastructure/code.rawkode.academy/configuration/devenv.yaml
  infrastructure/code.rawkode.academy/configuration/package.json
  infrastructure/code.rawkode.academy/configuration/src/main.ts
  infrastructure/code.rawkode.academy/configuration/tsconfig.json
Due: none

doc(rawkode.academy/website): update partner programme pricing
  projects/rawkode.academy/website/src/components/partner/pricing/featured.vue
Due: website-deploy-production, website-deploy-merge-request

chore(zulip): version bump to 10.3-0
  projects/rawkode.academy/community/zulip/README.md
  projects/rawkode.academy/community/zulip/zulip.yaml
Due: none

fix(cicd): ensure there's always one pipeline
  .gitlab-ci.yml
Due: none

fix(dns): bind rawkode.dev to rawkode.link
  infrastructure/dns/src/domains/rawkode.dev.ts
  projects/rawkode.link/.envrc
  projects/rawkode.link/Justfile
  projects/rawkode.link/bun.lockb
  projects/rawkode.link/package.json
  projects/rawkode.link/src/index.ts
  projects/rawkode.link/src/rawkode.dev/index.ts
  projects/rawkode.link/tsconfig.json
  projects/rawkode.link/wrangler.toml
Due: none

chore(dns): migrate Terraform statefile to GitLab
  infrastructure/dns/.envrc
  infrastructure/dns/src/index.ts
Due: none

chore(dns): attempt at using GCP OIDC for Secrets Manager
  .gitlab-ci.yml
  dagger.json
Due: none

fix(dns): use an image with terraform and cleanup old files
  .gitlab-ci.yml
  infrastructure/dns/.dmno/config.mts
  infrastructure/dns/.dmno/tsconfig.json
  infrastructure/dns/.envrc
  infrastructure/dns/bun.lockb
  infrastructure/dns/cdktf.json
  infrastructure/dns/dagger/deploy.mts
  infrastructure/dns/scalr.conf
  infrastructure/dns/scalr.sh
Due: none

fix(dns): job must extend dagger
  .gitlab-ci.yml
Due: none

chore(dns): removing username from code, use TF_HTTP_USERNAME
  .gitlab-ci.yml
  infrastructure/dns/.envrc
  infrastructure/dns/src/index.ts
Due: none

chore(dns): gitlab gcp secrets are files
  .gitlab-ci.yml
  infrastructure/dns/.envrc
  infrastructure/dns/src/index.ts
Due: none

chore(dns): fix lock method
  infrastructure/dns/src/index.ts
Due: none

fix(dns): ensure we don't lose the accountID on zones
  infrastructure/dns/src/dnsProvider/index.ts
  infrastructure/dns/src/index.ts
Due: none

chore(rawkode.studio): bump dependencies
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/components/shadcn/sidebar.tsx
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): use correct script
  projects/rawkode.studio/.dagger/src/index.ts
Due: studio-deploy-production, studio-deploy-merge-request

fix(gitlab): label scopes are "AND" connected, not "OR"
  infrastructure/code.rawkode.academy/configuration/src/main.ts
Due: none

chore(rawkode.studio): more maintenance
  projects/rawkode.studio/.cursor/rules/bun.mdc
  projects/rawkode.studio/.dagger/package.json
  projects/rawkode.studio/.dagger/src/index.ts
  projects/rawkode.studio/.dagger/tsconfig.json
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/actions/index.ts
  projects/rawkode.studio/src/components/effects/Starfield.astro
  projects/rawkode.studio/src/components/livestreams/invite-form.astro
  projects/rawkode.studio/src/components/livestreams/livekit-room.tsx
  projects/rawkode.studio/src/components/livestreams/room-join-form.tsx
  projects/rawkode.studio/src/components/livestreams/room/Chat.tsx
  projects/rawkode.studio/src/components/livestreams/room/ConnectionIndicator.tsx
  projects/rawkode.studio/src/components/livestreams/room/ParticipantsList.tsx
  projects/rawkode.studio/src/components/livestreams/room/RoomControls.tsx
  projects/rawkode.studio/src/components/livestreams/room/VideoGrid.tsx
  projects/rawkode.studio/src/pages/invite/[roomName].astro
  projects/rawkode.studio/src/pages/watch/[roomName].astro
Due: studio-deploy-production, studio-deploy-merge-request

feat(rawkOS): deploy standup bot to Cloudflare Workers
  projects/rawkode.chat/standup-bot/.envrc
  projects/rawkode.chat/standup-bot/.vscode/settings.json
  projects/rawkode.chat/standup-bot/README.md
  projects/rawkode.chat/standup-bot/bun.lock
  projects/rawkode.chat/standup-bot/deployctl.json
  projects/rawkode.chat/standup-bot/main.ts
  projects/rawkode.chat/standup-bot/package.json
  projects/rawkode.chat/standup-bot/src/main.ts
  projects/rawkode.chat/standup-bot/wrangler.jsonc
Due: none

chore(cicd): add environment information
  .gitlab-ci.yml
Due: none

feat(rawkode.academy/website): add Grafana Faro
  projects/rawkode.academy/website/.envrc
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/components/html/head.astro
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.academy/website): update the banner
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/src/layouts/app.astro
Due: website-deploy-production, website-deploy-merge-request

adr(bun): adopt bun
  projects/rawkode.academy/website/content/adrs/0002-adopt-bun.md
  projects/rawkode.academy/website/content/adrs/CODEOWNERS
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.academy/adrs): tweak metadata
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/content/adrs/0001-adopt-adrs.md
  projects/rawkode.academy/website/content/adrs/0002-adopt-bun.md
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/pages/adrs/[...slug].astro
  projects/rawkode.academy/website/src/pages/adrs/index.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add cmdk bar
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/src/components/command-palette/icons.tsx
  projects/rawkode.academy/website/src/components/command-palette/index.tsx
  projects/rawkode.academy/website/src/components/command-palette/styles.css
  projects/rawkode.academy/website/src/components/command-palette/wrapper.tsx
  projects/rawkode.academy/website/src/components/sidebar/index.vue
  projects/rawkode.academy/website/src/hooks/useCommandPalette.ts
  projects/rawkode.academy/website/src/layouts/app.astro
  projects/rawkode.academy/website/src/pages/api/sitemap-pages.json.ts
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add changelog information to website
  projects/rawkode.academy/website/src/components/sidebar/index.vue
  projects/rawkode.academy/website/src/lib/gitlab.ts
  projects/rawkode.academy/website/src/pages/changelog/index.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): courses
  projects/rawkode.academy/website/.gitignore
  projects/rawkode.academy/website/content/course-modules/rust-for-the-rusty/introduction.mdx
  projects/rawkode.academy/website/content/courses/rust-for-the-rusty.mdx
  projects/rawkode.academy/website/src/components/courses/CourseCard.astro
  projects/rawkode.academy/website/src/components/courses/CourseModules.astro
  projects/rawkode.academy/website/src/components/sidebar/index.vue
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/pages/courses/[...slug].astro
  projects/rawkode.academy/website/src/pages/courses/[course]/modules/[...slug].astro
  projects/rawkode.academy/website/src/pages/courses/index.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/zitadel-zulip-connector): automate zulip user provisioning
  projects/rawkode.academy/platform/zitadel-zulip-connector/.envrc
  projects/rawkode.academy/platform/zitadel-zulip-connector/.gitignore
  projects/rawkode.academy/platform/zitadel-zulip-connector/README.md
  projects/rawkode.academy/platform/zitadel-zulip-connector/biome.json
  projects/rawkode.academy/platform/zitadel-zulip-connector/bun.lock
  projects/rawkode.academy/platform/zitadel-zulip-connector/package.json
  projects/rawkode.academy/platform/zitadel-zulip-connector/src/handlers/provision.ts
  projects/rawkode.academy/platform/zitadel-zulip-connector/src/main.ts
  projects/rawkode.academy/platform/zitadel-zulip-connector/src/types.ts
  projects/rawkode.academy/platform/zitadel-zulip-connector/src/zitadel.ts
  projects/rawkode.academy/platform/zitadel-zulip-connector/src/zitadel/actions/postAuthenticationExternal.js
  projects/rawkode.academy/platform/zitadel-zulip-connector/src/zitadel/actions/postAuthenticationInternal.js
  projects/rawkode.academy/platform/zitadel-zulip-connector/src/zulip.ts
  projects/rawkode.academy/platform/zitadel-zulip-connector/tests/README.md
  projects/rawkode.academy/platform/zitadel-zulip-connector/tests/handlers/provision.test.ts
  projects/rawkode.academy/platform/zitadel-zulip-connector/tests/helpers/mocks.ts
  projects/rawkode.academy/platform/zitadel-zulip-connector/tests/zulip.test.ts
  projects/rawkode.academy/platform/zitadel-zulip-connector/tsconfig.json
  projects/rawkode.academy/platform/zitadel-zulip-connector/wrangler.jsonc
Due: none

feat(rawkode.academy/website): show comments on videos based on Zulip topics
  projects/rawkode.academy/community/zulip/README.md
  projects/rawkode.academy/community/zulip/zulip.yaml
  projects/rawkode.academy/website/.env
  projects/rawkode.academy/website/.envrc
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/src/components/video/comments.vue
  projects/rawkode.academy/website/src/lib/zitadel/index.ts
  projects/rawkode.academy/website/src/pages/api/auth/sign-in.ts
  projects/rawkode.academy/website/src/pages/api/comments/[videoId].ts
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.academy/website): deploy to workers instead of pages
  projects/rawkode.academy/website/bun.lock
  projects/rawkode.academy/website/package.json
  projects/rawkode.academy/website/public/.assetsignore
  projects/rawkode.academy/website/wrangler.jsonc
  projects/rawkode.academy/website/wrangler.toml
Due: website-deploy-production, website-deploy-merge-request

fix(cicd): update deployment for workers and jsonc
  .gitlab-ci.yml
Due: none

fix(cicd): deploy all websites to workers
  .gitlab-ci.yml
  dagger/cloudflare/src/index.ts
  projects/rawkode.studio/public/.assetsignore
  projects/rawkode.studio/wrangler.jsonc
  projects/rawkode.studio/wrangler.toml
Due: studio-deploy-production, studio-deploy-merge-request

fix(cicd): correct syntax for worker deploy
  dagger/cloudflare/src/index.ts
Due: none

fix(cicd): need a preview env for preview deploys
  projects/rawkode.academy/website/wrangler.jsonc
  projects/rawkode.studio/wrangler.jsonc
Due: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request

fix(cicd): use wrangler config dist config
  dagger/cloudflare/src/index.ts
Due: none

fix(cicd): use clouflare version uploads for preview
  .gitlab-ci.yml
  dagger/cloudflare/src/index.ts
Due: none

fix(cicd): force websites to deploy preview
  projects/rawkode.academy/website/wrangler.jsonc
  projects/rawkode.studio/wrangler.jsonc
Due: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
