Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

website-deploy-production:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

website-deploy-merge-request:
  image: docker:latest
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DAGGER_CLOUD_TOKEN: $DAGGER_CLOUD_TOKEN
  ...

studio-deploy-production:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

studio-deploy-merge-request:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

infrastructure-dns-merge-request:
  image: docker:latest
  services:
  - name: docker:${DOCKER_VERSION}-dind
    command:
    - --registry-mirror
    - https://mirror.gcr.io
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_VERSION: 27.2.0
    DOCKER_TLS_VERIFY: '1'
    DOCKER_TLS_CERTDIR: /certs
  ...

fix(cicd): remove dagger installation, provided by depot
  .envrc
  .github/workflows/platform-service-deploy.yaml
Due: none

docs(cicd): why we need pr write access
  .github/workflows/platform-service-deploy.yaml
Due: none

docs(cicd): using bunx for wgc
  .github/workflows/platform-service-deploy.yaml
  dagger/wundergraph/dagger.json
  dagger/wundergraph/src/index.ts
Due: none

fix(cicd): ensure wundergraph has a generated schema
  .github/workflows/platform-service-deploy.yaml
  dagger/wundergraph/.gitignore
  dagger/wundergraph/src/index.ts
Due: none

fix(cicd): correct number of params, publishScript redundant
  dagger/wundergraph/src/index.ts
Due: none

fix(cicd): force redeploy
  .github/workflows/platform-service-deploy.yaml
Due: none

fix(cicd): debugging
  .github/workflows/platform-service-deploy.yaml
  dagger/wundergraph/src/index.ts
Due: none

fix(cicd): set workdir for schema publish
  .github/workflows/platform-service-deploy.yaml
  dagger/wundergraph/src/index.ts
Due: none

fix(cicd): run all as a single step
  .github/workflows/platform-service-deploy.yaml
  dagger/wundergraph/src/index.ts
Due: none

fix(cicd): giving up, run wgc locally
  .github/workflows/platform-service-deploy.yaml
  dagger/wundergraph/src/index.ts
Due: none

fix(rawkode.academy/platform/emoji-reactions): bring inline for projen service
  projects/rawkode.academy/platform/emoji-reactions/write-model/main.ts
  projects/rawkode.academy/platform/emoji-reactions/write-model/reactToContent.ts
Due: none

fix(cicd): use correct workers domain
  .github/workflows/platform-service-deploy.yaml
Due: none

fix(rawkode.academy/platform/emoji-reactions): bring inline for projen service
  projects/rawkode.academy/platform/emoji-reactions/write-model/reactToContent.ts
Due: none

fix(cosmo): ensure we update routing urls
  .github/workflows/platform-service-deploy.yaml
Due: none

fix(cosmo): update before publish
  .github/workflows/platform-service-deploy.yaml
Due: none

feat(rawkode.academy/platform/videos): add getAllVideos query endpoint
  projects/rawkode.academy/platform/videos/read-model/schema.ts
Due: none

fix(rawkode.academy/platform/videos): resolve SQLite parameter limit in GraphQL queries
  projects/rawkode.academy/platform/videos/read-model/schema.ts
Due: none

chore(rawkode.academy/website): display latest content as featured
  projects/rawkode.academy/website/src/components/common/FeaturedContent.astro
  projects/rawkode.academy/website/src/components/video/video-feed.astro
  projects/rawkode.academy/website/src/pages/read/index.astro
  projects/rawkode.academy/website/src/pages/watch/index.astro
  projects/rawkode.academy/website/src/pages/watch/latest.astro
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.academy/website): paginate video page
  projects/rawkode.academy/platform/technologies/bun.lock
  projects/rawkode.academy/platform/technologies/read-model/schema.ts
Due: none

feat(rawkode.academy/website): add 3 modules for complete guide to Zitadel
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/install-docker-compose.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/introduction.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/prerequisites.mdx
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel.mdx
  projects/rawkode.academy/website/devenv.lock
  projects/rawkode.academy/website/src/components/courses/CourseModules.astro
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/pages/courses/[...slug].astro
  projects/rawkode.academy/website/src/pages/courses/[course]/modules/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): add email updates to courses
  projects/rawkode.academy/website/.envrc
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel.mdx
  projects/rawkode.academy/website/src/actions/courses.ts
  projects/rawkode.academy/website/src/actions/index.ts
  projects/rawkode.academy/website/src/components/courses/CourseSignupForm.astro
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/src/pages/courses/[...slug].astro
  projects/rawkode.academy/website/src/pages/courses/[course]/modules/[...slug].astro
  projects/rawkode.academy/website/src/pages/courses/index.astro
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): fix linting and audience ID
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel.mdx
  projects/rawkode.academy/website/src/actions/courses.ts
  projects/rawkode.academy/website/src/components/courses/CourseSignupForm.astro
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): fix server handling of form
  projects/rawkode.academy/website/src/components/courses/CourseSignupForm.astro
  projects/rawkode.academy/website/src/pages/api/course-signup.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): switch to vue component to avoid server island
  projects/rawkode.academy/website/src/components/courses/CourseSignupForm.astro
  projects/rawkode.academy/website/src/components/courses/CourseSignupFormClient.vue
  projects/rawkode.academy/website/src/pages/api/course-signup.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): send form in correct format
  projects/rawkode.academy/website/src/components/courses/CourseSignupFormClient.vue
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): support sponsor audience
  projects/rawkode.academy/website/astro.config.mts
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel.mdx
  projects/rawkode.academy/website/src/actions/courses.ts
  projects/rawkode.academy/website/src/components/courses/CourseSignupForm.astro
  projects/rawkode.academy/website/src/components/courses/CourseSignupFormClient.vue
  projects/rawkode.academy/website/src/content/config.ts
  projects/rawkode.academy/website/wrangler.jsonc
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): remmeber anonymous sign ups
  projects/rawkode.academy/website/content/courses/complete-guide-zitadel.mdx
  projects/rawkode.academy/website/src/actions/courses.ts
  projects/rawkode.academy/website/src/components/courses/CourseSignupForm.astro
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): implement proper device switching in settings dialog
  projects/rawkode.studio/biome.json
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
  projects/rawkode.studio/src/components/livestreams/dialogs/SettingsDialog.tsx
  projects/rawkode.studio/src/components/livestreams/prejoin/PrejoinScreen.tsx
  projects/rawkode.studio/src/components/livestreams/room/core/LiveKitRoom.tsx
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): improve grid layout and fix device preselection in settings
  projects/rawkode.studio/src/components/livestreams/dialogs/SettingsDialog.tsx
  projects/rawkode.studio/src/components/livestreams/room/layouts/GridLayout.tsx
Due: studio-deploy-production, studio-deploy-merge-request

chore(rawkode.academy/platform/videos): switch to latest r2 bucket
  projects/rawkode.academy/platform/videos/read-model/schema.ts
Due: none

fix(rawkode.academy/website): dynamically pull latest videos when not statically rendered
  projects/rawkode.academy/website/.claude/settings.local.json
  projects/rawkode.academy/website/src/pages/watch/[...slug].astro
Due: website-deploy-production, website-deploy-merge-request

chore(rawkode.academy/tasks/youtube-to-platform): devenv setup
  projects/rawkode.academy/tasks/youtube-to-platform/.claude/settings.local.json
  projects/rawkode.academy/tasks/youtube-to-platform/.envrc
  projects/rawkode.academy/tasks/youtube-to-platform/.gitignore
  projects/rawkode.academy/tasks/youtube-to-platform/devenv.nix
  projects/rawkode.academy/tasks/youtube-to-platform/devenv.yaml
Due: none

fix(rawkode.academy/platform/videos): do not run tests, there are none
  projects/rawkode.academy/platform/videos/.projenrc.ts
Due: none

feat(forgepoint): planning
  projects/rawkode.tools/forgepoint/.claude/settings.local.json
  projects/rawkode.tools/forgepoint/cue.mod/module.cue
  projects/rawkode.tools/forgepoint/forgepoint/README.md
  projects/rawkode.tools/forgepoint/forgepoint/activities/author-stories/activity.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/build-forgepoint/actions/cli-implementation.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/build-forgepoint/activity.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/plan-product/actions/define-personas.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/plan-product/actions/stories/persona-import-export.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/plan-product/activity.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/review-changes/activity.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/validate-product/actions/cli-validation.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/validate-product/activity.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/visualize-product/actions/productboard-parity.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/visualize-product/actions/web-visualizations.cue
  projects/rawkode.tools/forgepoint/forgepoint/activities/visualize-product/activity.cue
  projects/rawkode.tools/forgepoint/forgepoint/adrs/001-use-cue-for-schemas.md
  projects/rawkode.tools/forgepoint/forgepoint/adrs/002-use-charm-for-cli.md
  projects/rawkode.tools/forgepoint/forgepoint/map.cue
  projects/rawkode.tools/forgepoint/forgepoint/personas/developer.cue
  projects/rawkode.tools/forgepoint/forgepoint/personas/product-owner.cue
  projects/rawkode.tools/forgepoint/forgepoint/personas/stakeholder.cue
  projects/rawkode.tools/forgepoint/forgepoint/schema/action.cue
  projects/rawkode.tools/forgepoint/forgepoint/schema/activity.cue
  projects/rawkode.tools/forgepoint/forgepoint/schema/base.cue
  projects/rawkode.tools/forgepoint/forgepoint/schema/persona.cue
  projects/rawkode.tools/forgepoint/forgepoint/schema/story.cue
Due: none

chore(rawkode.academy/website): release Zitadel Kubernetes module
  projects/rawkode.academy/website/.claude/settings.local.json
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/02-setting-up-first-project.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/05-organizations-projects-applications.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/authentication-methods.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/branding-customization.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/custom-actions-workflows.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/enterprise-sso.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/install-docker-compose.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/install-kubernetes.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/monitoring-audit-security.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/multi-tenancy-b2b.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/nodejs-api-protection.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/production-deployment-ha.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/react-app-integration.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/rest-apis-grpc-services.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/roles-permissions-authorization.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/scim-user-provisioning.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/social-login-providers.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/troubleshooting-performance.mdx
  projects/rawkode.academy/website/content/course-modules/complete-guide-zitadel/user-management-registration.mdx
  projects/rawkode.academy/website/src/components/courses/CourseSignupFormClient.vue
Due: website-deploy-production, website-deploy-merge-request

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*
