Repository RawkodeAcademy/RawkodeAcademy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website-deploy-production, website-deploy-merge-request, studio-deploy-production, studio-deploy-merge-request, infrastructure-dns-merge-request

Path conditions:
  website-deploy-production: any of: projects/rawkode.academy/website/**/*
  website-deploy-merge-request: any of: projects/rawkode.academy/website/**/*
  studio-deploy-production: any of: projects/rawkode.studio/**/*
  studio-deploy-merge-request: any of: projects/rawkode.studio/**/*
  infrastructure-dns-merge-request: any of: infrastructure/dns/**/*

fix(analytics): address Copilot code review suggestions
  projects/rawkode.academy/website/src/lib/analytics.ts
  projects/rawkode.tools/analytics/pipeline/compaction-worker/src/lib.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/validation.rs
Due: website-deploy-production, website-deploy-merge-request

feat(analytics): add additional unit tests and test configuration
  projects/rawkode.tools/analytics/Justfile
  projects/rawkode.tools/analytics/api/context.test.ts
  projects/rawkode.tools/analytics/api/index.test.ts
  projects/rawkode.tools/analytics/api/resolvers/analytics.test.ts
  projects/rawkode.tools/analytics/api/resolvers/catalog.test.ts
  projects/rawkode.tools/analytics/api/schema.test.ts
  projects/rawkode.tools/analytics/api/utils/duckdb-client.test.ts
  projects/rawkode.tools/analytics/pipeline/event-collector/src/buffer_test.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/validation_test.rs
  projects/rawkode.tools/analytics/tests/integration/graphql-api.test.ts
  projects/rawkode.tools/analytics/tests/setup.ts
  projects/rawkode.tools/analytics/tests/utils/test-helpers.ts
  projects/rawkode.tools/analytics/vitest.config.ts
Due: none

fix(rawkode.tools/analytics): implement secure query builder to prevent SQL injection
  projects/rawkode.tools/analytics/api/resolvers/analytics.ts
  projects/rawkode.tools/analytics/api/utils/query-builder.test.ts
  projects/rawkode.tools/analytics/api/utils/query-builder.ts
Due: none

refactor(rawkode.academy/website): clean up type definitions and align session handling
  projects/rawkode.academy/website/src/actions/reaction.ts
  projects/rawkode.academy/website/src/actions/share.ts
  projects/rawkode.academy/website/src/actions/video.ts
  projects/rawkode.academy/website/src/env.d.ts
  projects/rawkode.academy/website/src/lib/analytics.ts
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.tools/analytics): address critical security vulnerabilities and fix buffer flushing
  projects/rawkode.tools/analytics/SECURITY_IMPROVEMENTS.md
  projects/rawkode.tools/analytics/api/index.ts
  projects/rawkode.tools/analytics/api/resolvers/analytics.ts
  projects/rawkode.tools/analytics/api/types.ts
  projects/rawkode.tools/analytics/pipeline/event-collector/src/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/lib.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/parquet_writer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/validation.rs
Due: none

feat(analytics): add comprehensive testing and monitoring infrastructure
  projects/rawkode.tools/analytics/.github/workflows/test.yml
  projects/rawkode.tools/analytics/TESTING.md
  projects/rawkode.tools/analytics/monitoring/README.md
  projects/rawkode.tools/analytics/monitoring/health-checker/Cargo.toml
  projects/rawkode.tools/analytics/monitoring/health-checker/src/lib.rs
  projects/rawkode.tools/analytics/monitoring/health-checker/wrangler.toml
  projects/rawkode.tools/analytics/pipeline/compaction-worker/src/tests.rs
  projects/rawkode.tools/analytics/tests/e2e/README.md
  projects/rawkode.tools/analytics/tests/e2e/analytics-pipeline.test.ts
  projects/rawkode.tools/analytics/tests/e2e/bun.lock
  projects/rawkode.tools/analytics/tests/e2e/package.json
  projects/rawkode.tools/analytics/tests/e2e/vitest.config.ts
Due: none

refactor(analytics): change event naming structure to generic format
  projects/rawkode.academy/website/src/lib/analytics.ts
  projects/rawkode.tools/analytics/pipeline/event-collector/src/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/lib.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/validation.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/wrangler.jsonc
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.tools/analytics): fix event collector buffer flushing to R2
  projects/rawkode.tools/analytics/pipeline/event-collector/src/lib.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/wrangler.jsonc
Due: none

feat(rawkode.academy/website): add article about building analytics pipeline
  projects/rawkode.academy/website/content/articles/building-our-analytics-pipeline/cover.png
  projects/rawkode.academy/website/content/articles/building-our-analytics-pipeline/index.mdx
Due: website-deploy-production, website-deploy-merge-request

feat(rawkode.academy/website): redesign articles page with integrated featured article
  projects/rawkode.academy/website/src/components/common/PageHeroWithFeatured.vue
  projects/rawkode.academy/website/src/pages/read/index.astro
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.academy/website): fix d1 diagram
  projects/rawkode.academy/website/content/articles/building-our-analytics-pipeline/index.mdx
Due: website-deploy-production, website-deploy-merge-request

fix(rawkode.tools/analytics): whole bunch of improvements
  projects/rawkode.tools/analytics/biome.json
  projects/rawkode.tools/analytics/bun.lock
  projects/rawkode.tools/analytics/examples/project-analytics/dbt_project.yml
  projects/rawkode.tools/analytics/examples/project-analytics/models/staging/stg_my_page_views.sql
  projects/rawkode.tools/analytics/pipeline/event-collector/src/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/errors.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/lib.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/parquet_writer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/validation.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/wrangler.jsonc
Due: none

chore(rawkode.tools/analytics): add Iceberg configuration and monitoring setup
  projects/rawkode.tools/analytics/.env.example
  projects/rawkode.tools/analytics/APACHE_ICEBERG_PRODUCT_PLAN.md
  projects/rawkode.tools/analytics/CACHING_STRATEGY.md
  projects/rawkode.tools/analytics/FRONTEND_ICEBERG_DESIGN.md
  projects/rawkode.tools/analytics/ICEBERG_IMPLEMENTATION.md
  projects/rawkode.tools/analytics/ICEBERG_IMPLEMENTATION_PLAN.md
  projects/rawkode.tools/analytics/ICEBERG_MONITORING.md
  projects/rawkode.tools/analytics/ICEBERG_QUERY_PATTERNS.md
  projects/rawkode.tools/analytics/ICEBERG_TEST_IMPLEMENTATION_SUMMARY.md
  projects/rawkode.tools/analytics/ICEBERG_TEST_STRATEGY.md
  projects/rawkode.tools/analytics/REALTIME_VS_BATCH_ARCHITECTURE.md
  projects/rawkode.tools/analytics/TIME_SERIES_VISUALIZATION.md
  projects/rawkode.tools/analytics/pipeline/event-collector/ICEBERG_R2_CATALOG_INTEGRATION.md
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/compaction.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/manifest.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/metadata.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/mod.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/schema.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/concurrent_tests.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/data_integrity_tests.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/manifest_tests.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/metadata_tests.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/mod.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/performance_benchmarks.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/writer_tests.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/writer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/lib.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/wrangler.jsonc
  projects/rawkode.tools/analytics/runbooks/buffer-management.md
  projects/rawkode.tools/analytics/runbooks/compaction-issues.md
  projects/rawkode.tools/analytics/runbooks/query-optimization.md
  projects/rawkode.tools/analytics/runbooks/storage-management.md
  projects/rawkode.tools/analytics/tests/integration/iceberg-compaction-maintenance.test.ts
  projects/rawkode.tools/analytics/tests/integration/iceberg-r2-catalog.test.ts
  projects/rawkode.tools/analytics/tests/integration/iceberg-timeout-retry.test.ts
Due: none

feat(rawkode.tools/analytics): implement Iceberg writer and schema
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/catalog_tests.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/metadata_tests.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/mod.rs
Due: none

feat(rawkode.tools/analytics): add Iceberg usage examples
  projects/rawkode.tools/analytics/pipeline/event-collector/examples/iceberg_usage.rs
Due: none

test(rawkode.tools/analytics): enhance Iceberg test coverage
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/concurrent_tests.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/manifest_tests.rs
Due: none

fix(rawkode.tools/analytics): fix compilation errors in Iceberg implementation
  projects/rawkode.tools/analytics/package-lock.json
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/compaction.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/manifest.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/metadata.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/writer.rs
Due: none

feat(rawkode.tools/analytics): implement Iceberg compaction and optimize performance
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/compaction.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/manifest.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/metadata.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/mod.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/recovery.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/writer.rs
Due: none

test(rawkode.tools/analytics): fix integration test setup and add Miniflare
  projects/rawkode.tools/analytics/package-lock.json
  projects/rawkode.tools/analytics/package.json
  projects/rawkode.tools/analytics/tests/helpers/miniflare-setup.ts
  projects/rawkode.tools/analytics/tests/integration/iceberg-r2-catalog.test.ts
  projects/rawkode.tools/analytics/tests/integration/iceberg-timeout-retry.test.ts
Due: none

test(rawkode.tools/analytics): fix all flaky integration tests
  projects/rawkode.tools/analytics/TEST_STABILITY_REPORT.md
  projects/rawkode.tools/analytics/scripts/test-stability.ts
  projects/rawkode.tools/analytics/tests/helpers/miniflare-setup.ts
  projects/rawkode.tools/analytics/tests/helpers/test-utilities.ts
  projects/rawkode.tools/analytics/tests/helpers/timing-helpers.ts
  projects/rawkode.tools/analytics/tests/integration/iceberg-compaction-maintenance.test.ts
  projects/rawkode.tools/analytics/tests/integration/iceberg-r2-catalog.test.ts
  projects/rawkode.tools/analytics/tests/integration/iceberg-timeout-retry.test.ts
Due: none

fix(rawkode.tools/analytics): fix Rust compilation errors and improve test compatibility
  projects/rawkode.tools/analytics/pipeline/event-collector/src/errors.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/compaction.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/metadata.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/mod.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/recovery.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/writer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/lib.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/utils.rs
Due: none

fix(rawkode.tools/analytics): fix Iceberg timestamp timezone error
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/writer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/wrangler.jsonc
Due: none

chore(rawkode.tools/analytics): remove catalog-worker in favor of Iceberg
  projects/rawkode.tools/analytics/pipeline/catalog-worker/.gitignore
  projects/rawkode.tools/analytics/pipeline/catalog-worker/Cargo.toml
  projects/rawkode.tools/analytics/pipeline/catalog-worker/README.md
  projects/rawkode.tools/analytics/pipeline/catalog-worker/src/catalog.rs
  projects/rawkode.tools/analytics/pipeline/catalog-worker/src/costs.rs
  projects/rawkode.tools/analytics/pipeline/catalog-worker/src/error.rs
  projects/rawkode.tools/analytics/pipeline/catalog-worker/src/lib.rs
  projects/rawkode.tools/analytics/pipeline/catalog-worker/src/models.rs
  projects/rawkode.tools/analytics/pipeline/catalog-worker/src/r2.rs
  projects/rawkode.tools/analytics/pipeline/catalog-worker/src/scanner.rs
  projects/rawkode.tools/analytics/pipeline/catalog-worker/src/tests.rs
  projects/rawkode.tools/analytics/pipeline/catalog-worker/wrangler.jsonc
Due: none

feat(analytics): implement consistent event naming convention
  projects/rawkode.academy/website/public/analytics.js
  projects/rawkode.academy/website/src/lib/analytics.ts
  projects/rawkode.academy/website/src/pages/api/analytics.ts
  projects/rawkode.tools/analytics/EVENT_NAMING_CONVENTION.md
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/compaction.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/manifest.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/recovery.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/schema.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/writer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/utils.rs
Due: website-deploy-production, website-deploy-merge-request

refactor(rawkode.tools/analytics): remove legacy buffer system and fix alarm issues
  projects/rawkode.tools/analytics/pipeline/event-collector/src/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/buffer_test.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/lib.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/parquet_writer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/wrangler.jsonc
Due: none

fix(rawkode.tools/analytics): add migration to delete old EventBufferDurableObject class
  projects/rawkode.tools/analytics/pipeline/event-collector/wrangler.jsonc
Due: none

fix(rawkode.tools/analytics): fix schema mismatch by adding missing fields
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/mod.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/schema.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/tests/writer_tests.rs
Due: none

fix(rawkode.tools/analytics): switch to R2 Data Catalog REST API for Iceberg operations
  projects/rawkode.tools/analytics/pipeline/event-collector/R2_DATA_CATALOG_SETUP.md
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/metadata.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/wrangler.jsonc
Due: none

fix(rawkode.tools/analytics): improve table creation handling and add reset endpoint
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
Due: none

fix(rawkode.tools/analytics): improve REST catalog error handling and namespace creation
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
Due: none

fix(rawkode.tools/analytics): skip namespace creation for R2 Data Catalog
  projects/rawkode.tools/analytics/pipeline/event-collector/reset-stuck-partitions.sh
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/lib.rs
Due: none

fix(rawkode.tools/analytics): improve R2 Data Catalog integration
  projects/rawkode.tools/analytics/pipeline/event-collector/TEMPORARY_SOLUTION.md
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
Due: none

fix(rawkode.tools/analytics): use default namespace for R2 Data Catalog
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/wrangler.jsonc
Due: none

fix(rawkode.tools/analytics): remove external Iceberg dependencies and fix R2 Data Catalog integration
  projects/rawkode.tools/analytics/pipeline/event-collector/.gitignore
  projects/rawkode.tools/analytics/pipeline/event-collector/Cargo.lock
  projects/rawkode.tools/analytics/pipeline/event-collector/Cargo.toml
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/buffer.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/metadata.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/mod.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/official_catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/schema.rs
Due: none

fix(rawkode.tools/analytics): handle R2 Data Catalog response format differences
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/metadata.rs
Due: none

fix(rawkode.tools/analytics): add missing storage_credentials field to LoadTableResponse
  projects/rawkode.tools/analytics/pipeline/event-collector/src/iceberg/rest_catalog.rs
Due: none

perf(rawkode.studio): optimize build chunking for better performance
  projects/rawkode.studio/astro.config.ts
  projects/rawkode.studio/biome.json
  projects/rawkode.studio/bun.lock
  projects/rawkode.studio/package.json
Due: studio-deploy-production, studio-deploy-merge-request

fix(rawkode.studio): remove empty datetime chunk warning
  projects/rawkode.studio/astro.config.ts
Due: studio-deploy-production, studio-deploy-merge-request
